{% comment %}
    Renders line item
    Accepts:
    - line_item {Object} Liquid line_item object
    Usage:
    {%- render 'line-item', line_item: cart.items[0] -%}
{% endcomment %}

{%-
  liquid
  assign = line_item_index = line_item.index | plus: 1
-%}

<div class="cart-item" id="CartItem-{{- line_item_index -}}">
  <div class="cart-item__media">
    {%- if line_item.image -%}
      <a href="{{- line_item.url -}}" class="cart-item__link">
        <span class="visually-hidden">{{- line_item.title | escape -}}</span>
        <div class="media">
          {%- render 'image', image: line_item.image, image_url_width: 550, alt: line_item.image.alt | escape -%}
        </div><!-- /.media -->
      </a>
    {%- endif -%}
  </div><!-- /.cart-item__media -->

  <div class="cart-item__details">
    <h3 class="cart-item__title h6 heading-static">
      <a href="{{- line_item.url -}}" class="full-unstyled-link">
        {{- line_item.product.title | escape -}}
      </a>
    </h3><!-- /.cart-item__title h6 heading-static -->

    {%- unless line_item.product.has_only_default_variant -%}
      <dl>
        {%- for option in line_item.options_with_values -%}
          <dt>{{- option.name -}}: </dt>

          <dd>{{- option.value -}}</dd>

          {%- unless forloop.last -%}
            {{- ' / ' -}}
          {%- endunless -%}
        {%- endfor -%}
      </dl>
    {%- endunless -%}

    {%- if line_item.properties.size != 0 -%}
      <dl>
        {%- for property in line_item.properties -%}
          {%- assign property_first_char = property.first | slice: 0 -%}
          {%- if property.last != blank and property_first_char != '_' -%}
            <div>
              <dt>{{ property.first }}: </dt>

              <dd>
                {%- if property.last contains '/uploads/' -%}
                  <a href="{{- property.last -}}" class="link" target="_blank">
                    {{- property.last | split: '/' | last -}}
                  </a>
                {%- else -%}
                  {{- property.last -}}
                {%- endif -%}
              </dd>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </dl>
    {%- endif -%}

    {%- if line_item.selling_plan_allocation != nil -%}
      <p class="cart-item__plan">{{- line_item.selling_plan_allocation.selling_plan.name -}}</p>
    {%- endif -%}


    <div class="cart-item__price">
      {% liquid
        assign original_line_price = line_item.variant.compare_at_price | times: line_item.quantity
        assign final_line_price = line_item.variant.price | times: line_item.quantity
        assign final_price = line_item.final_line_price
      %}

      {%- if original_line_price > final_line_price -%}
        <div class="cart-item__discounted-prices">
          <span class="visually-hidden">
            {{- 'products.product.price.regular_price' | t -}}
          </span>
          <del>
            {{- original_line_price | money -}}
          </del>

          <span class="visually-hidden">
            {{- 'products.product.price.sale_price' | t -}}
          </span>
          <ins class="color-red">
            {{- final_price | money -}}
          </ins>
        </div>
      {%- else -%}
        {{- line_item.original_line_price | money -}}
      {%- endif -%}

      {%- if line_item.variant.available and line_item.unit_price_measurement -%}
        <div>
          <span class="visually-hidden">
            {{- 'products.product.price.unit_price' | t -}}
          </span>
          {{- line_item.variant.unit_price | money -}}

          <span aria-hidden="true">/</span>

          {%- if line_item.variant.unit_price_measurement.reference_value != 1 -%}
            {{- line_item.variant.unit_price_measurement.reference_value -}}
          {%- endif -%}

          {{ line_item.variant.unit_price_measurement.reference_unit }}
        </div>
      {%- endif -%}
    </div><!-- /.cart-item__price -->

    {%- if line_item.discounts -%}
      <ul class="cart-item__discounts list-unstyled" role="list" aria-label="{{- 'customer.order.discount' | t -}}">
        {%- for discount in line_item.discounts -%}
          <li>
            {%- render 'icon-discount' -%}

            <span>{{- discount.title | escape -}}</span>
          </li>
        {%- endfor -%}
      </ul><!-- /.cart-item__discounts list-unstyled -->
    {%- endif -%}

    <div class="cart-item__quantity">
      {%- render 'quantity-input',
        product_ref: line_item.product,
        value: line_item.quantity,
        name: 'updates[]',
        min: 0,
        index: line_item_index,
        hide_label: true,
        line_item_variant: line_item.variant
      -%}
    </div><!-- /.cart-item__quantity -->

    <cart-remove-button
      id="Remove-{{- line_item_index -}}"
      data-index="{{- line_item_index -}}"
    >
      <a href="{{- line_item.url_to_remove -}}">{{- 'cart.remove' | t -}}</a>
    </cart-remove-button>

    <p class="cart-item__error color-red" role="alert" data-line-item-error data-line="{{- line_item_index -}}"></p><!-- /.cart-item__error -->
  </div><!-- /.cart-item__details -->
</div><!-- /.cart-item -->
