{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
    - class: {String} Class to be applied to the pagination container
{% endcomment %}

{%- if paginate.parts.size > 0 -%}
  {{- 'component-pagination-alt.css' | asset_url | stylesheet_tag -}}

  <nav class="pagination-alt svg-color-inherit text-navigation-button {{ class }}" aria-label="{{- 'general.pagination.label' | t -}}">
    <ul class="list-unstyled">
      <li>
        <a
          href="{{ paginate.previous.url }}{{ anchor }}"
          class="pagination-alt__prev-next"
          aria-label="{{- 'general.pagination.previous' | t -}}"
          title="{{- 'general.pagination.previous' | t -}}"
          {% unless paginate.previous %}disabled tabindex="-1" aria-hidden="true"{% endunless %}
        >
          {%- render 'icon-chevron-left' -%}
        </a>
      </li>

      <li>
        <span>
          {{- 'general.pagination.page_of' | t: current_page: paginate.current_page, max_pages: paginate.pages -}}
        </span>
      </li>

      <li>
        <a
          href="{{ paginate.next.url }}{{ anchor }}"
          class="pagination-alt__prev-next"
          aria-label="{{- 'general.pagination.next' | t -}}"
          title="{{- 'general.pagination.next' | t -}}"
          {% unless paginate.next %}disabled tabindex="-1" aria-hidden="true"{% endunless %}
        >
          {%- render 'icon-chevron-right' -%}
        </a>
      </li>
    </ul><!-- /.list-unstyled -->
  </nav><!-- /.pagination-alt -->
{%- endif -%}
