{% comment %}
  Renders a block for shoppable social section

  Accepts:
    - block: {Object} Product Liquid object
    - block_index: {Number} Index of the block
    - shopify_attributes: {Any} OPTIONAL Shopify HTML attributes for the block

  Usage:
    {%- render 'block-shoppable', block: block.settings, block_index: block_index, shopify_attributes: block.shopify_attributes -%}

  Block object types:
    - social_avatar: image
    - social_username: text

    - social_post_content: richtext
    - social_post_image: image
    - social_post_url: url

    - product_{01,02,03,04}: product
    - product_{01,02,03,04}_dot_x: number
    - product_{01,02,03,04}_dot_y: number
{% endcomment %}

<div
  class='shoppable-block'
  data-block-id='{{ block.id }}'
  data-section-id='{{ section.id }}'
  {% if shopify_attributes %}
    {{- shopify_attributes -}}
  {% endif %}
>
  <div class='shoppable-block__social-account'>
    <div class='shoppable-block__social-account--avatar'>
      <div>
        {%- liquid
          if section.settings.social_avatar != blank and block.social_avatar == blank
            render 'image', image: section.settings.social_avatar, alt: section.settings.social_avatar.alt | escape
          elsif block.social_avatar != blank
            render 'image', image: block.social_avatar, alt: block.social_avatar.alt | escape
          else
            echo 'product-6' | placeholder_svg_tag
          endif
        -%}
      </div>
      {% render 'icon-instagram-ring' %}
    </div>
    <!-- /.shoppable-block__social-account--avatar -->

    <div class='shoppable-block__social-account--name'>
      {%- if section.settings.social_username != blank
        and block.social_username == blank
      -%}
        {{- section.settings.social_username -}}
      {%- elsif block.social_username != blank -%}
        {{- block.social_username -}}
      {%- endif -%}
    </div>
    <!-- /.shoppable-block__social-account--name -->
  </div>
  <!-- /.shoppable-block__social-account -->

  <div class='shoppable-block__content'>
    <div>
      {%- if section.settings.source_of_slide == 'metaobject' -%}
        {{- block.social_post_content | metafield_tag -}}
      {%- else -%}
        {{- block.social_post_content -}}
      {%- endif -%}
    </div>

    {%- liquid
      if block.social_post_url != blank
        assign social_post_url = block.social_post_url
      else
        assign social_post_url = '#'
      endif
    -%}
     {%- assign social_post_button_classes = 'button ' | append: settings.button_primary_style | append: ' ' | append: settings.button_secondary_style -%}
    <a
      href='{{- social_post_url -}}'
      class='{{ social_post_button_classes }} button--shoppable-block__view-on-social'
      target='_blank'
    >
      {%- render 'icon-instagram' -%}
      <span>View on Social</span>
    </a>
  </div>
  <!-- /.shoppable-block__content -->

  <div class='shoppable-block__media'>
    {%- liquid
      if block.social_post_image != blank
        render 'image', image: block.social_post_image, alt: block.social_post_image.alt | escape
      else
        echo 'collection-1' | placeholder_svg_tag: 'placeholder-svg'
      endif
    -%}
    {%- if section.settings.show_dots -%}
      <ul class='shoppable__lookbook-dots js-slider-dots list-unstyled js-dots-list no-js-hidden'>
        {%- for product_card in (1..4) -%}
          {%- liquid
            assign block_item_id = 'product_0' | append: forloop.index
            assign dot_x = block_item_id | append: '_dot_x'
            assign dot_y = block_item_id | append: '_dot_y'
          -%}
          {%- capture dot_id -%}shoppable__dot-{{- count -}}-{{- block_index -}}-{{- forloop.index -}}-{{- section.id -}}{%- endcapture -%}
          {%- if block[block_item_id] != '' and block[block_item_id] != nil -%}
            <li
              id='{{- dot_id -}}'
              style='left: {{- block[dot_x] -}}%; top: {{- block[dot_y] -}}%; '
            >
              <button
                type='button'
                class='button-reset'
                onclick='document.querySelector(`shoppable-product-card-thumb[data-card-id="{{- count -}}-{{- block_index -}}-{{- forloop.index -}}-{{- section.id -}}"]`).toggle(event)'
                aria-expanded="false"
                aria-controls="shoppable-product-card-thumb"
                aria-label="Open product card for selected item"
              >
                {%- render 'icon-plus' -%}
                {%- render 'icon-minus' -%}
              </button>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <!-- /.shoppable__lookbook-dots -->
  </div>
  <!-- /.shoppable-block__media -->

  <div class='shoppable-block__products'>
    <div class='shoppable-block__product--holder'></div>
    {%- liquid
        for product_card in (1..4)
          assign block_item_id = 'product_0' | append: forloop.index
          if section.settings.source_of_slide == 'metaobject'
            assign product_ref = block[block_item_id].value
          else
            assign product_ref = block[block_item_id]
          endif
          if product_ref != '' and product_ref != nil
            render 'shoppable-product-card__thumb', product_ref: product_ref, block_index: block_index, index: forloop.index, count: count
          endif
        endfor
      comment
        /* render an empthy placeholder card if all products are empthy */
      endcomment
      if block.product_01 == '' and block.product_02 == '' and block.product_03 == '' and block.product_04 == ''
        render 'shoppable-product-card__thumb', block_index: block_index, index: 0
      endif
    -%}
  </div>
  <!-- /.shoppable-block__products -->
</div>
<!-- /.shoppable-block -->
