{% comment %}
  Renders a product card for shoppable socials section
  Accepts:
  - product_ref: {Object} Product Liquid object
  Usage:
  {%- render 'shoppable-product-card', product_ref: product_ref -%}
{% endcomment %}

{%- if product_ref.handle -%}
  {%- assign product_handle = product_ref.handle -%}
{%- else -%}
  {%- assign product_handle = 'placeholder' -%}
{%- endif -%}

<shoppable-product-card data-product-handle='{{- product_handle -}}'>
  <button
    type='button'
    class='button button__shoppable-product-card--back'
    aria-expanded="false"
    aria-controls="shoppable-product-card-thumb"
    aria-label="Close product card for selected item"
  >
    {%- render 'icon-chevron-left' -%}
    <span>Back</span>
  </button>
  <div class='shoppable-product-card__container'>
    <div class='shoppable-product-card__inner'>
      <div class='shoppable-product-card__inner-main'>
        <div class='shoppable-product-card__image-wrapper--{{- section.settings.product_image_ratio -}}'>
          {%- liquid
            assign product_images = product_ref.variants | map: 'featured_image' | uniq
            if product_images.size > 1
              for img in product_images
                assign data_product_images = ''
                for variant in product_ref.variants
                  if variant.featured_image == img
                    assign data_product_images = data_product_images | append: variant.id | append: ','
                  endif
                endfor
                assign data_product_images = data_product_images | split: ',' | uniq | join: ','
                assign attr = 'data-product-images=""' | append: data_product_images | append: '"'
                unless forloop.first
                  render 'image', image: img, alt: img.alt, attr: attr, class: 'hidden'
                else
                  render 'image', image: img, alt: img.alt, attr: attr
                endunless
              endfor
            else
              assign img = product_ref.featured_image
              if product_ref.featured_image
                render 'image', image: product_ref.featured_image, alt: product_ref.featured_image.alt | escape
              else
                echo 'product-1' | placeholder_svg_tag
              endif
            endif
          -%}
        </div>
        <!-- /.shoppable-product-card__image-wrapper -->

        <div class='shoppable-product-card__details'>
          <h6 class='shoppable-product-card__title'>
            {%- if product_ref and product_ref != empty -%}
              {{- product_ref.title | escape -}}
            {%- else -%}
              {{- 'products.product.title' | t -}}
            {%- endif -%}
          </h6>
          <!-- /.shoppable-product-card__title -->

          {%- render 'price',
            product_ref: product_ref,
            price_class: 'card-product__price'
          -%}
        </div>
        <!-- /.shoppable-product-card__details -->
      </div>
      <!-- /.shoppable-product-card__inner-main -->

      <div class='shoppable-product-card__inner-extended'>
        <form class='shoppable-product-card__form'>
          <div class='product-selector__variant-picker'>
            {%-
              render 'shoppable-product-card__variant-selector',
              product: product_ref,
            -%}
          </div>
          <!-- /.product-selector__variant-picker -->

          <div class='product-selector__quantity'>
            {%- render 'quantity-input',
              product_ref: product,
              hide_label: true
            -%}
          </div>
          <!-- /.product-selector__quantity -->

          <button
            type='submit'
            class='button button--filled button--full button--uppercase button__shoppable-product-card--add-to-cart'
          >
            <span>
              {{ 'products.product.add_to_cart' | t }}
            </span>
            <span>
              {{- 'products.product.sold_out' | t -}}
            </span>
          </button>
        </form>
        <a
          href='{{- product_ref.url -}}'
          class='button__shoppable-product-card--show'
        >
          {{ 'products.product.show_full_product' | t }}
        </a>
      </div>
      <p
        class='hidden'
        data-error-wrapper
        style='color:var(--color-alert)'
      ></p>

      <!-- /.shoppable-product-card__inner-extended -->
    </div>
    <!-- /.shoppable-product-card__inner -->
  </div>
  <!-- /.shoppable-product-card__container -->
</shoppable-product-card>
