{% liquid
  assign attr = blank
  unless layout == 'list'
    assign attr = 'data-layout-mode="multi"'
  else
    assign attr = 'data-layout-mode="single"'
  endunless
  unless layout == 'tags'
    assign attr = attr | append: ' data-content-mode="carousel"'
  else
    assign attr = attr | append: ' data-content-mode="scroll"'
  endunless
%}
<shoppable-drawer class="shoppable-drawer--{{ section.id }}" {{ attr }} {{ tags }}>
  <div class='shoppable-drawer__blocks'>
    <div class='shoppable-drawer__blocks--inner'>
      <button
        type='button'
        class='button--close'
        aria-expanded='false'
        aria-controls='shoppable-drawer'
        aria-label='Close drawer for selected item'
      >
        {%- render 'icon-close' -%}
      </button>
      {%- if tags == blank -%}
        <div class='container'>
          <div class='swiper swiper-drawer'>
            <div class='swiper-wrapper'>
              {%- liquid
                if section.settings.source_of_slide == 'metaobject'
                  if product.metafields.theme.shoppable_socials.value
                    assign shoppable_items = product.metafields.theme.shoppable_socials.value
                  endif
                else
                  assign shoppable_items = section.blocks
                endif
              -%}
              {%- for block in shoppable_items -%}
                {%- liquid
                  if section.settings.source_of_slide == 'manual'
                    assign item = block.settings
                  else
                    assign item = block
                  endif
                -%}
                <div
                  class='swiper-slide'
                  data-index='{{ forloop.index0 }}'
                >
                  {%- render 'shoppable-block-item',
                    block: item,
                    block_index: forloop.index,
                    shopify_attributes: block.shopify_attributes
                  -%}
                </div>
              {%- endfor -%}
            </div>
            <!-- /.swiper-wrapper -->
            <div class='swiper__buttons'>
              <button class='swiper__button--prev'>
                {%- render 'icon-chevron-left' -%}
                <span>Prev</span>
              </button>
              <button class='swiper__button--next'>
                <span>Next</span>
                {%- render 'icon-chevron-right' -%}
              </button>
            </div>
            <!-- /.swiper-buttons -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.container -->
      {%- else -%}
        {%- assign count = 0 -%}
        {%- for tag in tags -%}
          <div
            class='shoppable-drawer__tags'
            id='shoppable-drawer__tags--{{- tag -}}'
          >
            <div class='shoppable-drawer__header'>
              <div class='shoppable-drawer__title container'>
                <h3>{{ tag | prepend: '#' }}</h3>
                {%- assign posts_count = 0 -%}
                {%- if section.settings.source_of_slide == 'metaobject' -%}
                  {%- for block in product.metafields.theme.shoppable_socials.value -%}
                    {%- if block.tag_story contains tag -%}
                      {%- assign posts_count = posts_count | plus: 1 -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for block in section.blocks -%}
                    {%- if block.settings.tag_story contains tag -%}
                      {%- assign posts_count = posts_count | plus: 1 -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                <p>{{ posts_count }} posts</p>
              </div>
            </div>
            <div class='shoppable-drawer__scroll-container'>
              <div class='container'>
                {%- if section.settings.source_of_slide == 'metaobject' -%}
                  {%- assign tags_in_drawer =  product.metafields.theme.shoppable_socials.value-%}
                {%- else -%}
                  {%- assign tags_in_drawer =  product.metafields.theme.shoppable_socials.value-%}
                {%- endif -%}
                {%- if section.settings.source_of_slide == 'metaobject' -%}
                  {%- for block in product.metafields.theme.shoppable_socials.value -%}
                    {%- assign count = count | plus: 1 -%}
                    {%- if block.tag_story contains tag -%}
                      {%- render 'shoppable-block-item',
                        block: block,
                        block_index: forloop.index,
                        shopify_attributes: block.shopify_attributes,
                        count: count
                      -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for block in section.blocks -%}
                    {%- assign count = count | plus: 1 -%}
                    {%- if block.settings.tag_story contains tag -%}
                      {%- render 'shoppable-block-item',
                        block: block.settings,
                        block_index: forloop.index,
                        shopify_attributes: block.shopify_attributes,
                        count: count
                      -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </div>
              <!-- /.container -->
            </div>
            <!-- /.container-wrapper -->
          </div>
          <!-- /.container-wrapper -->
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>

  <div class='shoppable-drawer__product'>
    <div class='shoppable-drawer__product--holder'></div>
  </div>

  <div class='shoppable-drawer__backdrop'></div>
</shoppable-drawer>
<!-- /shoppable-drawer -->
