{% liquid
  assign social_links_array = blank

  # if settings.share_twitter
    assign social_links_array = social_links_array | append: ',Twitter'
  # endif

  # if settings.share_pinterest
    assign social_links_array = social_links_array | append: ',Pinterest'
  # endif

  # if settings.share_linkedin
    assign social_links_array = social_links_array | append: ',LinkedIn'
  # endif

  # if settings.share_instagram and settings.social_instagram_link != blank
    assign social_links_array = social_links_array | append: ',Instagram'
  # endif

  # if settings.share_facebook
    assign social_links_array = social_links_array | append: ',Facebook'
  # endif
%}

{%- if social_links_array != blank -%}
  {{- 'component-social-sharing.css' | asset_url | stylesheet_tag -}}

  {%- assign social_links_array = social_links_array | remove_first: ',' | split: ',' -%}
  {%- assign classes = classes | default: '' -%}

  <div class="socials-sharing{% if classes != '' %} {{ classes }}{% endif %}">
    <ul class="social-sharing__items list-unstyled">

      {%- for social_link in social_links_array -%}
        {%- assign social_link_downcase = social_link | downcase -%}
        {%- assign shop_url = shop.url | append: share_permalink -%}

        {%- assign anchor_tag_label = 'socials.share_on' | t: social_name: social_link -%}

        {%- capture social_link_url -%}
          {%- case social_link_downcase -%}
            {%- when 'twitter' -%}
              //twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop_url }}
            {%- when 'pinterest' -%}
              //pinterest.com/pin/create/button/?url={{ shop_url }}&amp;media={{ share_image | image_url: width: 1024, height: 1024 }}&amp;description={{ share_title | url_param_escape }}
            {%- when 'linkedin' -%}
              //www.linkedin.com/shareArticle?mini=true&url={{ shop_url }}
            {%- when 'facebook' -%}
              //www.facebook.com/sharer.php?u={{ shop_url }}
          {%- endcase -%}
        {%- endcapture -%}

        {%- assign social_link_url = social_link_url | strip -%}

        {%- if social_link_url != '' -%}
          <li class="social-sharing__item">
            <a target="_blank" href="{{- social_link_url -}}" class="social-sharing__link" aria-label="{{- anchor_tag_label -}}">
              {%- render 'icon-socials' with social_name: social_link_downcase -%}
            </a>
          </li><!-- /.social-sharing__item -->
        {%- endif -%}
      {%- endfor -%}
    </ul><!-- /.social-sharing__items -->
  </div>
{%- endif -%}

