<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_heading_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{- 'form-validate.js' | asset_url -}}" defer="defer"></script>

    {{ content_for_header }}

    {%- render 'settings' -%}

    {{- 'base.css' | asset_url | stylesheet_tag -}}
    {{- 'main-password.css' | asset_url | stylesheet_tag -}}
    {{- 'section-header-password.css' | asset_url | stylesheet_tag -}}
    {{- 'component-password-modal.css' | asset_url | stylesheet_tag -}}

    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

    {% comment %}theme-check-disable AssetPreload{% endcomment %}
    {%- unless settings.type_heading_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_heading_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {% comment %}theme-check-enable AssetPreload{% endcomment %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>

    {%- comment -%}
      Vendors:
    {%- endcomment -%}

    <script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'bodyScrollLock.min.js' | asset_url -}}" defer="defer"></script>
    <script src="{{- 'lazysizes.min.js' | asset_url -}}" defer="defer"></script>
  </head>

  <body class="template template--password template--{{ template.name }}{% if template.suffix %} template--{{- template.suffix -}}{% endif %} template-theme--{{- settings.theme_style_name -}}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{- 'accessibility.skip_to_text' | t -}}
    </a>

    {%- section 'main-password-header' -%}

    <main
      id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>

    <modal-dialog id="PasswordModal" class="password-modal">
      <div
        class="password-modal__dialog"
        role="dialog"
        tabindex="-1"
        aria-label="{{- 'password.password_modal.title' | t -}}"
        aria-modal="true"
      >
        <button
          id="ModalClose-PasswordModal"
          type="button"
          class="password-modal__close"
          aria-label="{{- 'accessibility.close' | t -}}"
        >{% render 'icon-close' %}</button>

        <div
          class="password-modal__content"
          role="document"
          aria-label="{{- 'password.password_modal.title' | t -}}"
          tabindex="0">
          <div class="container container--narrow">
            <h4 class="password-modal__title">
              {{- 'password.password_modal.title' | t -}}
            </h4><!-- /.password-modal__title -->

            <form-validate>
              {%- form 'storefront_password' -%}
                <div class="form-row">
                  {%-
                    liquid
                    assign label = 'password.password_modal.password.label' | t
                    assign placeholder = 'password.password_modal.password.placeholder' | t
                    capture attr
                      echo 'autocomplete="current-password"'
                    endcapture
                    if form.errors
                      assign error = 'password.password_modal.password.error' | t
                      assign has_error = true
                    endif
                    render 'text-input', id: 'Password', label: label, type: 'password', name: 'password', placeholder: placeholder, attr: attr, message: error, has_error: has_error, required: true
                  -%}
                </div><!-- /.form-row -->

                <div class="form-row">
                  {%- assign value = 'password.password_modal.submit' | t -%}
                  {%- render 'button', type: 'submit', value: value, style: 'outlined', class: 'button' -%}
                  {%- assign value = nil -%}
                </div><!-- /.form-row -->
              {%- endform -%}
            </form-validate>

            <p class="caption color-subdued">
              {{- 'password.admin_link_html' | t -}}
            </p><!-- /.caption color-subdued -->
          </div><!-- /.container container--narrow -->
        </div><!-- /.password-modal__content -->
      </div><!-- /.password-modal__wrapper -->
    </modal-dialog>
  </body>
</html>
