{%- assign blog = section.settings.blog | default: blogs['blog'] -%}

{%- if blog != blank and blog.articles_count > 0 -%}
  {% comment %} {{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}} {% endcomment %}
  {{- 'component-card-slider.css' | asset_url | stylesheet_tag -}}
  {{- 'component-card-article.css' | asset_url | stylesheet_tag -}}

  {% comment %}<script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script> {% endcomment %}
  <script src="{{- 'card-slider.js' | asset_url -}}" defer="defer"></script>

  {%- liquid
    capture section_button
      render 'button', type: 'link', class: 'button blog__button button--auto custom_class', button_style: section.settings.button_style, value: section.settings.button_text, href: blog.url
    endcapture
  -%}

  {%- capture section_additional_classes -%}
    {{ section.settings.padding_vertical_desktop }}
    {{ section.settings.padding_vertical_mobile }}
    {{ section.settings.layout }}
    {{ section.settings.color_scheme_text }}
    {{ section.settings.color_scheme_background }}
  {%- endcapture -%}

  {% if section.blocks.size == 1 %}
    {% style %}
      @media screen and (max-width: 749px) {
        .section-{{ section.id }} .card-slider .card-slider__slide {
          width: 100% !important;
        }
      }
    {% endstyle %}
  {% endif %}
  {% style %}
    @media screen and (min-width: 750px) {
      .section-{{ section.id }} .card-slider {
        --card-collection-height: calc(var(--section-body-width) / 3);
        height: var(--card-collection-height);
      }
      .section-{{ section.id }} .card-collection__media {
        padding-bottom: var(--card-collection-height);
      }
    }
  {% endstyle %}

  <section class="section section-blog-articles overflow-hidden js-animation-fade-in {{ section_additional_classes | strip }}">
    <div class="container">
      <div class="section__head">
        <h2 class="section__title">
          {{- blog.title -}}
        </h2>
      </div><!-- /.section__head -->

      <div class="section__body">
        <card-slider
          class="swiper card-slider card-slider--articles js-articles"
          data-swiper-options='{
            "spaceBetweenDesktop": {{ section.settings.gap_between_desktop }},
            "spaceBetweenMobile": {{ section.settings.gap_between_mobile }}
          }'
        >
          <div class="swiper-wrapper card-slider__wrapper">
            {%- for article in blog.articles -%}
              <div class="swiper-slide card-slider__slide">
                {%- render 'card-article', article: article, class: 'card-article--entry-2', show_excerpt: true, content_alignment: section.settings.content_alignment, image_per_view: 3 -%}
              </div><!-- /.swiper-slide -->
            {%- endfor -%}
          </div><!-- /.swiper-wrapper -->

          <div class="swiper-buttons small-hide svg-color-inherit card-slider__buttons {{ section.settings.button_style }} no-js-hidden">
            <button class="swiper-button swiper-button--prev">
              {%- render 'icon-arrow-right-small' -%}
            </button>

            <button class="swiper-button swiper-button--next">
              {%- render 'icon-arrow-right-small' -%}
            </button>
          </div><!-- /.swiper-buttons -->
        </card-slider><!-- /.swiper -->
      </div><!-- /.section__body -->

      <div class="section__foot">
        {{ section_button | replace_first: 'custom_class' }}
      </div><!-- /.section__foot -->

    </div><!-- /.container -->
  </section><!-- /.section -->
{%- endif -%}

{% schema %}
{
  "name": "t:sections.blog-articles.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header_padding_vertical.content"
    },
    {
      "type": "select",
      "id": "padding_vertical_desktop",
      "label": "t:sections.global.settings.padding_vertical_desktop.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.default.label"
        },
        {
          "value": "pt-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.top_none.label"
        },
        {
          "value": "pb-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.bottom_none.label"
        },
        {
          "value": "pt-0-desktop pb-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.top_bottom_none.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_vertical_mobile",
      "label": "t:sections.global.settings.padding_vertical_mobile.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.default.label"
        },
        {
          "value": "pt-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.top_none.label"
        },
        {
          "value": "pb-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.bottom_none.label"
        },
        {
          "value": "pt-0-mobile pb-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.top_bottom_none.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_layout.content"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.global.settings.layout.label",
      "options": [
        {
          "value": "layout-1",
          "label": "t:sections.global.settings.layout.options.layout_1.label"
        },
        {
          "value": "layout-2",
          "label": "t:sections.global.settings.layout.options.layout_2.label"
        }
      ],
      "default": "layout-1",
      "info": "t:sections.global.settings.layout.info"
    },
    {
      "type": "range",
      "id": "gap_between_desktop",
      "label": "t:sections.global.settings.gap_between_desktop.label",
      "min": 2,
      "max": 64,
      "step": 2,
      "default": 2
    },
    {
      "type": "range",
      "id": "gap_between_mobile",
      "label": "t:sections.global.settings.gap_between_mobile.label",
      "min": 2,
      "max": 64,
      "step": 2,
      "default": 2
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.global.settings.content_alignment.label",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.global.settings.content_alignment.options.left.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.global.settings.content_alignment.options.center.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.global.settings.content_alignment.options.right.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "color-text-primary",
          "label": "t:settings_schema.colors.settings.color_text_primary.label"
        },
        {
          "value": "color-text-secondary",
          "label": "t:settings_schema.colors.settings.color_text_secondary.label"
        },
        {
          "value": "color-text-inverse",
          "label": "t:settings_schema.colors.settings.color_text_inverse.label"
        }
      ],
      "default": "color-text-primary"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "color-background-primary",
          "label": "t:settings_schema.colors.settings.color_background_primary.label"
        },
        {
          "value": "color-background-accent-1",
          "label": "t:settings_schema.colors.settings.color_background_accent_1.label"
        },
        {
          "value": "color-background-accent-2",
          "label": "t:settings_schema.colors.settings.color_background_accent_2.label"
        },
        {
          "value": "color-background-inverse",
          "label": "t:settings_schema.colors.settings.color_background_inverse.label"
        }
      ],
      "default": "color-background-primary"
    },
    {
      "type": "header",
      "content": "t:sections.blog-articles.settings.header_text.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.blog-articles.settings.heading.label",
      "default": "Blog"
    },
    {
      "type": "header",
      "content": "t:sections.blog-articles.settings.header_button.content"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.global.settings.button_style.label",
      "options": [
        {
          "value": "button--filled",
          "label": "t:sections.global.settings.button_style.options.filled.label"
        },
        {
          "value": "button--outlined",
          "label": "t:sections.global.settings.button_style.options.outlined.label"
        },
        {
          "value": "button--outlined-inverse",
          "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
        },
        {
          "value": "default",
          "label": "t:sections.global.settings.button_style.options.default.label"
        }
      ],
      "info": "t:sections.global.settings.button_style.info",
      "default": "button--filled"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.blog-articles.settings.button_text.label",
      "default": "Visit Blog"
    },
    {
      "type": "header",
      "content": "t:sections.blog-articles.settings.header_blog.content"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog-articles.settings.blog.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog-articles.name"
    }
  ]
}
{% endschema %}
