{{- 'form-contact.css' | asset_url | stylesheet_tag -}}
<style>
  #book-appointment-{{ section.id }}{background-image:url({{ section.settings.background_image | image_url }});}
  #book-appointment-{{ section.id }} .book-appointment-title{font-size:{{ section.settings.section_title_font_Size }}px; }
  #book-appointment-{{ section.id }} .book-appointment-form-title{font-size:{{ section.settings.section_form_title_font_Size }}px;}
  #book-appointment-{{ section.id }} .content-color{color:{{ section.settings.text_color }};}
  #book-appointment-{{ section.id }} form *{color:{{ section.settings.form_text_color }}}

  #book-appointment-{{ section.id }}  form{background-color:{{ section.settings.form_bg_color }};}
</style>
<section id="book-appointment-{{ section.id }}" class="book-appointment   {{ section.settings.color_scheme_text }} {{ section.settings.color_scheme_background }}">
  <div class="container container--small">
    <div class="container-content">
        {%- if section.settings.title != blank -%}
          <h2 class="book-appointment-title content-color">
            {{ section.settings.title }}
          </h2>
        {%- endif -%}
        {%- if section.settings.content != blank -%}
          <p class="content-color">
            {{ section.settings.content }}
          </p>
        {%- endif -%}
    </div>
    {%- form 'contact', id: 'ContactForm' -%}
      {%- if form.posted_successfully? -%}
        <h3 class="h4" tabindex="-1" autofocus>{{- 'contact.form.success' | t -}}</h3>
        <!-- /.h4 -->
      {%- elsif form.errors -%}
        <div class="color-red">
          {{- form.errors | default_errors -}}
        </div>
        <!-- /.color-red -->
      {%- endif -%}
      {%- if section.settings.form_title != blank -%}
        <h2 class="book-appointment-form-title">
          {{ section.settings.form_title }}
        </h2>
      {%- endif -%}

      <div class="form-row first form-row--double" style="">
        {%- liquid
          assign label = 'First Name'
          assign placeholder = 'First Name'
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-name', label: label, name: 'contact[First Name]', placeholder: placeholder, attr: attr, value: value
        -%}
        {%- liquid
          assign label = 'Last Name'
          assign placeholder = 'Last Name'
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-lname', label: label, name: 'contact[Last Name]', placeholder: placeholder, attr: attr, value: value, class: 'input-parent'
        -%}
      </div>
      <div class="form-row second">
        {%- liquid
          assign label = 'Phone'
          assign placeholder = 'Phone'
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-Phone', label: label, name: 'contact[Phone]', placeholder: placeholder, attr: attr, value: value, class: 'input-phone'
        -%}
        <div class="field" data-input-wrapper="">
          <label for="ContactForm-Select" class="field__label">*Select Treatment</label>

          <select
            id="nf-field-236"
            name="contact[Select Treatment]"
            aria-invalid="false"
            aria-describedby="nf-error-236"
            class="field__input"
            aria-labelledby="nf-label-field-236"
            aria-required="true"
            required=""
          >
            <option value="Select Treatment" selected="selected">*Select Treatment:</option>

            <option value="Belotero">Belotero</option>

            <option value="Botox">Botox</option>

            <option value="Butt Lift without Surgery">Butt Lift without Surgery</option>

            <option value="Chemical Peel">Chemical Peel</option>

            <option value="Coolsculpting">Coolsculpting</option>

            <option value="Dysport">Dysport</option>

            <option value="Emsculpt">Emsculpt</option>

            <option value="Facials">Facials</option>

            <option value="Juvederm">Juvederm</option>

            <option value="Kybella">Kybella</option>

            <option value="Laser Hair Removal">Laser Hair Removal</option>

            <option value="Microneedling">Microneedling</option>

            <option value="Mole and Skin Tag Removal">Mole and Skin Tag Removal</option>

            <option value="Nano-Ray Laser Skin Resurfacing">Nano-Ray Laser Skin Resurfacing</option>

            <option value="Restalyne Lyft">Restalyne Lyft</option>

            <option value="Restalyne Silk">Restalyne Silk</option>

            <option value="Sculptra">Sculptra</option>

            <option value="ThermiSmooth">ThermiSmooth</option>

            <option value="ThermiTight">ThermiTight</option>

            <option value="ThermiVa">ThermiVa</option>

            <option value="Ultherapy">Ultherapy</option>

            <option value="Vollure">Vollure</option>

            <option value="Volbella">Volbella</option>

            <option value="VI Peel">VI Peel</option>
          </select>
        </div>

        {%- liquid
          assign label = 'contact.form.email' | t | append: ' <span class="color-red" aria-hidden="true">*</span>'
          assign placeholder = 'contact.form.email' | t
          capture attr
            echo 'autocomplete="email"'
            echo 'spellcheck="false"'
            echo 'autocapitalize="off"'
            echo 'aria-required="true"'
          endcapture
          if form.email
            assign value = form.email
          elsif customer
            assign value = customer.email
          else
            assign value = ''
          endif
          if form.errors contains 'email'
            assign error = form.errors.translated_fields.email | capitalize | append: ' ' | append: form.errors.messages.email
            assign has_error = true
          endif
          render 'text-input', id: 'ContactForm-email', type: 'email', label: label, name: 'contact[email]', placeholder: placeholder, attr: attr, value: value, has_error: has_error, message: error, class: 'input-email'
        -%}
      </div>
      <!-- /.form-row form-row--double -->

      <div class="form-row">
        {%- liquid
          assign label = 'contact.form.message' | t
          assign placeholder = 'contact.form.message' | t
          render 'textarea-input', id: 'ContactForm-body', label: label, name: 'contact[Requested Time / Date]', placeholder: placeholder, body: form.body
        -%}
      </div>
      <!-- /.form-row -->

      <div class="form-row form-row--actions">
        {%- assign value = 'BOOK AN APPOINTMENT' -%}
        {%- render 'button', type: 'submit', style: 'solid', value: value, class: 'button' -%}
        {%- assign value = null -%}
      </div>
      <!-- /.form-row -->
    {%- endform -%}
  </div>
  <!-- /.container container--small -->
</section>
<!-- /.form-contact -->

{% schema %}
{
  "name": "Book an Appointment",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "range",
      "id": "section_title_font_Size",
      "min": 2,
      "max": 90,
      "step": 1,
      "unit": "px",
      "label": "Section Title Font Size",
      "default": 48
    },
    {
      "type": "range",
      "id": "section_form_title_font_Size",
      "min": 2,
      "max": 90,
      "step": 1,
      "unit": "px",
      "label": "Section Form Title font size",
      "default": 48
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "<p>Welcome to our store</p>"
    },
    {
      "type": "text",
      "id": "form_title",
      "label": "Form Title",
      "default": "<p>Welcome to our store</p>"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Welcome to our store</p>"
    },
    {
      "type": "color",
      "label": "Text Color",
      "id": "text_color",
      "default": "#FFF"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "label": "Form BG Color",
      "id": "form_bg_color",
      "default": "#F5EBDF"
    },
    {
      "type": "color",
      "label": "Form Text Color",
      "id": "form_text_color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-default"
    }
  ],
  "presets": [
    {
      "name":"Book an Appointment"
    }
  ]
}
{% endschema %}
