{{- 'section-full-width-banner.css' | asset_url | stylesheet_tag -}}

{% style %}
  .section-{{ section.id }} {
    --full-width-banner-mobile-height: {{ section.settings.full_width_banner_mobile_height | default: '100' | append: 'vh' }};
    padding-top: calc(var(--section-spacing-unit-mobile) * {{ section.settings.spacing_top_mobile }}) !important;
    padding-bottom: calc(var(--section-spacing-unit-mobile) * {{ section.settings.spacing_bottom_mobile }}) !important;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      --full-width-banner-height: {{ section.settings.full_width_banner_height | default: '50' | append: 'vh' }};
      padding-top: calc(var(--section-spacing-unit-desktop) * {{ section.settings.spacing_top_desktop }}) !important;
      padding-bottom: calc(var(--section-spacing-unit-desktop) * {{ section.settings.spacing_bottom_desktop }}) !important;
    }
  }
{% endstyle %}

<section class='section-{{- section.id -}}'>
  <div class=' experience section-full-width-banner {{ section.settings.banner_layout }} js-animation-fade-in'>
    {%- capture inner_settings_classes -%}
      {{ section.settings.content_position_horizontal }} {{ section.settings.content_position_vertical }} {{ section.settings.color_scheme_text }} {{ section.settings.color_scheme_background }}
    {%- endcapture -%}

    {%- liquid
      assign has_mobile_media = false

      if section.settings.image_mobile != blank or section.settings.video_mobile != blank or section.settings.video_mobile_external != blank
        assign has_mobile_media = true
      endif

      if section.settings.image_desktop != blank or section.settings.video_desktop != blank or section.settings.video_desktop_external != blank
        assign inner_settings_classes = inner_settings_classes | append: ' has-desktop-media has-mobile-media'
      elsif has_mobile_media
        assign inner_settings_classes = inner_settings_classes | append: ' has-mobile-media'
      endif

      if section.settings.content_position_vertical == 'align-start'
        assign inner_settings_classes = inner_settings_classes | append: ' content-top'
      endif
    -%}

    {% capture media_element %}
      {%- comment -%}Desktop Media{%- endcomment -%}
      {%- if section.settings.video_desktop_external != blank -%}
        <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
          {% render 'external-video', video: section.settings.video_desktop_external, title: section.settings.title, youtube_container: true %}
        </div><!-- /.media -->
      {%- elsif section.settings.video_desktop != blank -%}
        <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
          {{- section.settings.video_desktop | video_tag: image_size: '2160x', loop: true, autoplay: true, muted: true, controls: false -}}
        </div><!-- /.media -->
      {%- else -%}
        <div class="media media--overlay section-full-width-banner__media{% if has_mobile_media %} small-hide{% endif %}">
          {%- liquid
            if section.settings.image_desktop != blank
              render 'image', image: section.settings.image_desktop, alt: section.settings.image_desktop.alt | default: section.settings.title | append: '-desktop' | escape, sizes: 'auto'
            else
              echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
            endif
          -%}
        </div><!-- /.media -->
      {%- endif -%}

      {%- comment -%}Mobile Media{%- endcomment -%}
      {%- if has_mobile_media -%}
        {%- if section.settings.video_mobile_external != blank -%}
          <div class="media media--overlay section-full-width-banner__media small-up-hide">
            {% render 'external-video', video: section.settings.video_mobile_external, title: section.settings.title %}
          </div><!-- /.media -->
        {%- elsif section.settings.video_mobile != blank -%}
          <div class="media media--overlay section-full-width-banner__media small-up-hide">
            {{- section.settings.video_mobile | video_tag: image_size: '720x', loop: true, autoplay: true, muted: true, controls: false -}}
          </div><!-- /.media -->
        {%- elsif section.settings.image_mobile != blank -%}
          <div class="media media--overlay section-full-width-banner__media small-up-hide">
            {%- render 'image', image: section.settings.image_mobile, image_for_mobile: true, alt: section.settings.image_mobile.alt | default: section.settings.title | escape, sizes: 'auto' -%}
          </div><!-- /.media -->
        {%- else -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' -}}
        {%- endif -%}
      {%- endif -%}
    {% endcapture %}

    {%- if section.blocks.size > 0 -%}
      {% liquid
        assign mobile_multiplier = 0.75

        assign content_padding_top = section.settings.content_padding_top
        assign content_padding_right = section.settings.content_padding_right
        assign content_padding_bottom = section.settings.content_padding_bottom
        assign content_padding_left = section.settings.content_padding_left

        assign content_spacing_top_mobile = content_padding_top | times: mobile_multiplier | round: 2
        assign content_padding_right_mobile = content_padding_right | times: mobile_multiplier | round: 2
        assign content_spacing_bottom_mobile = content_padding_bottom | times: mobile_multiplier | round: 2
        assign content_padding_left_mobile = content_padding_left | times: mobile_multiplier | round: 2
      %}

      {% style %}
        /*
        .section-{{ section.id }}mt-[40px] .section-full-width-banner__content {
          padding: {{ content_spacing_top_mobile }}rem {{ content_padding_right_mobile }}rem {{ content_spacing_bottom_mobile }}rem {{ content_padding_left_mobile }}rem;
        }
        */
        @media screen and (min-width: 750px) {
          .section-{{ section.id }} .section-full-width-banner__content {
            padding: {{ content_padding_top }}rem {{ content_padding_right }}rem {{ content_padding_bottom }}rem {{ content_padding_left }}rem;
          }
        }
      {% endstyle %}

      {% capture content_element %}
        <div class="section-full-width-banner__content {{ inner_settings_classes | strip }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'subtitle' -%}
                {%- if block.settings.subtitle == blank -%}
                  {%- continue -%}
                {%- endif -%}

                {%- if block.settings.subtitle_url != blank -%}
                  <a href="{{- block.settings.subtitle_url -}}" class="section-full-width-banner__subtitle">
                    {{- block.settings.subtitle | escape -}}
                  </a>
                {%- else -%}
                  <p class="section-full-width-banner__subtitle">
                    {{- block.settings.subtitle | escape -}}
                  </p><!-- /.section-full-width-banner__subtitle -->
                {%- endif -%}
              {%- when 'title' -%}
                {%- if block.settings.title == blank -%}
                  {%- continue -%}
                {%- endif -%}

                <h2 class="section-full-width-banner__title">
                  {{- block.settings.title | escape -}}
                </h2><!-- /.section-full-width-banner__title -->
              {%- when 'content' -%}
                {%- if block.settings.content == blank -%}
                  {%- continue -%}
                {%- endif -%}

                <div class="section-full-width-banner__entry entry{% unless section.settings.content_position_horizontal contains 'left' %} entry--list-padding-none{% endunless %}">
                  {{- block.settings.content -}}
                </div><!-- /.section-full-width-banner__entry -->
              {%- when 'buttons' -%}
                {%- if
                  block.settings.first_button_text == blank or block.settings.first_button_url == blank
                    and
                  block.settings.second_button_text == blank or block.settings.second_button_url == blank
                -%}
                  {%- continue -%}
                {%- endif -%}

                <div class="section-full-width-banner__buttons">
                  <ul class="list-unstyled {{ section.settings.content_position_horizontal }}">
                    {%- if block.settings.first_button_text != blank and block.settings.first_button_url != blank -%}
                      <li>
                        {% liquid
                          assign first_button_class = 'button section-full-width-banner__button '
                          if block.settings.first_button_color_scheme_background != 'background-colors-default'
                            assign first_button_class = first_button_class | append: block.settings.first_button_color_scheme_background
                          endif
                        %}
                        {%- render 'button',
                          type: 'link',
                          class: first_button_class,
                          button_style: block.settings.first_button_style | default: 'default',
                          value: block.settings.first_button_text,
                          href: block.settings.first_button_url
                        -%}
                      </li>
                    {%- endif -%}

                    {%- if block.settings.second_button_text != blank and block.settings.second_button_url != blank -%}
                      <li>
                        {% liquid
                          assign second_button_class = 'button section-full-width-banner__button '
                          if block.settings.second_button_color_scheme_background != 'background-colors-default'
                            assign second_button_class = second_button_class | append: block.settings.second_button_color_scheme_background
                          endif
                        %}
                        {%- render 'button',
                          type: 'link',
                          class: second_button_class,
                          button_style: block.settings.second_button_style | default: 'default',
                          value: block.settings.second_button_text,
                          href: block.settings.second_button_url
                        -%}
                      </li>
                    {%- endif -%}
                  </ul><!-- /.list-unstyled -->
                </div><!-- /.section-full-width-banner__buttons -->
            {%- endcase -%}
          {%- endfor -%}
        </div><!-- /.section-full-width-banner__content -->
      {% endcapture %}
    {%- endif -%}

    {% comment %} <div class="section-full-width-banner__inner {{ inner_settings_classes | strip }}"> {% endcomment %}
    {{ media_element }}
    {%- if section.blocks.size > 0 -%}
      {{ content_element }}
    {%- endif -%}
  </div>
  <!-- /.section-full-width-banner -->
</section>

{% schema %}
{
  "name": "Experience", 
  "settings": [
    {
      "type": "range",
      "id": "full_width_banner_height",
      "label": "t:sections.full-width-banner.settings.full_width_banner_height.label",
      "min": 20,
      "max": 100,
      "step": 10,
      "unit": "vh",
      "default": 50
    },
    {
      "type": "range",
      "id": "full_width_banner_mobile_height",
      "label": "t:sections.full-width-banner.settings.full_width_banner_mobile_height.label",
      "min": 20,
      "max": 100,
      "step": 5,
      "unit": "vh",
      "default": 75
    },
    {
      "type": "select",
      "id": "banner_layout",
      "label": "t:sections.full-width-banner.settings.banner_layout.label",
      "options": [
        {
          "value": "section-full-width-banner--full",
          "label": "t:sections.full-width-banner.settings.banner_layout.options.layout_full.label"
        },
        {
          "value": "section-full-width-banner--70-30",
          "label": "t:sections.full-width-banner.settings.banner_layout.options.layout_70_30.label"
        },
        {
          "value": "section-full-width-banner--30-70",
          "label": "t:sections.full-width-banner.settings.banner_layout.options.layout_30_70.label"
        },
        {
          "value": "section-full-width-banner--split",
          "label": "t:sections.full-width-banner.settings.banner_layout.options.layout_split.label"
        }
      ],
      "default": "section-full-width-banner--full"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_padding_vertical.content"
    },
    {
      "type": "range",
      "id": "spacing_top_desktop",
      "label": "t:sections.global.settings.spacing_top_desktop.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_bottom_desktop",
      "label": "t:sections.global.settings.spacing_bottom_desktop.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_top_mobile",
      "label": "t:sections.global.settings.spacing_top_mobile.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_bottom_mobile",
      "label": "t:sections.global.settings.spacing_bottom_mobile.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-inverse"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-accent-2"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_media_desktop.content"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.global.settings.image_desktop.label"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "t:sections.global.settings.video_desktop.label",
      "info": "t:sections.global.settings.video_desktop.info"
    },
    {
      "type": "video_url",
      "id": "video_desktop_external",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "info": "t:sections.global.settings.video_desktop_external.info",
      "label": "t:sections.global.settings.video_desktop_external.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_media_mobile.content",
      "info": "t:sections.global.settings.header_media_mobile.info"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image_mobile.label"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.global.settings.video_mobile.label",
      "info": "t:sections.global.settings.video_mobile.info"
    },
    {
      "type": "video_url",
      "id": "video_mobile_external",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "label": "t:sections.global.settings.video_mobile_external.label",
      "info": "t:sections.global.settings.video_mobile_external.info"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_content_position.content",
      "info": "t:sections.global.settings.header_content_position.info.desktop_tablet"
    },
    {
      "type": "select",
      "id": "content_position_horizontal",
      "label": "t:sections.global.settings.content_position_horizontal.label",
      "options": [
        {
          "value": "align-start text-left",
          "label": "t:sections.global.settings.content_position_horizontal.options.left.label"
        },
        {
          "value": "align-center text-center",
          "label": "t:sections.global.settings.content_position_horizontal.options.center.label"
        },
        {
          "value": "align-end text-right",
          "label": "t:sections.global.settings.content_position_horizontal.options.right.label"
        }
      ],
      "default": "align-center text-center"
    },
    {
      "type": "select",
      "id": "content_position_vertical",
      "label": "t:sections.global.settings.content_position_vertical.label",
      "options": [
        {
          "value": "justify-start",
          "label": "t:sections.global.settings.content_position_vertical.options.top.label"
        },
        {
          "value": "justify-center",
          "label": "t:sections.global.settings.content_position_vertical.options.center.label"
        },
        {
          "value": "justify-end",
          "label": "t:sections.global.settings.content_position_vertical.options.bottom.label"
        }
      ],
      "default": "justify-end"
    },
    {
      "type": "range",
      "id": "content_padding_top",
      "label": "t:sections.global.settings.content_padding_top.label",
      "min": 0,
      "max": 16,
      "step": 1.6,
      "default": 9.6,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "content_padding_bottom",
      "label": "t:sections.global.settings.content_padding_bottom.label",
      "min": 0,
      "max": 16,
      "step": 1.6,
      "default": 9.6,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "content_padding_left",
      "label": "t:sections.global.settings.content_padding_left.label",
      "min": 0,
      "max": 32,
      "step": 1.6,
      "default": 32,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "content_padding_right",
      "label": "t:sections.global.settings.content_padding_right.label",
      "min": 0,
      "max": 32,
      "step": 1.6,
      "default": 32,
      "unit": "rem"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "subtitle",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.subtitle.name",
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.full-width-banner.blocks.subtitle.settings.subtitle.label",
          "default": "Enter a subheading for your full width image"
        },
        {
          "type": "url",
          "id": "subtitle_url",
          "label": "t:sections.full-width-banner.blocks.subtitle.settings.subtitle_url.label",
          "info": "t:sections.full-width-banner.blocks.subtitle.settings.subtitle_url.info"
        }
      ]
    },
    {
      "type": "title",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.title.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.full-width-banner.blocks.title.settings.title.label",
          "default": "Headline full width banner"
        }
      ]
    },
    {
      "type": "content",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.content.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.full-width-banner.blocks.content.settings.content.label",
          "default": "<p>Add descriptive text to your full width banner.</p>"
        }
      ]
    },
    {
      "type": "buttons",
      "limit": 1,
      "name": "t:sections.full-width-banner.blocks.buttons.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.full-width-banner.blocks.buttons.settings.header_first_button.content"
        },
        {
          "type": "text",
          "id": "first_button_text",
          "label": "t:sections.full-width-banner.blocks.buttons.settings.first_button_text.label"
        },
        {
          "type": "url",
          "id": "first_button_url",
          "label": "t:sections.full-width-banner.blocks.buttons.settings.first_button_url.label"
        },
        {
          "type": "select",
          "id": "first_button_style",
          "label": "t:sections.global.settings.button_style.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.settings.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.settings.button_style.options.outlined.label"
            },
            {
              "value": "button--outlined-inverse",
              "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
            },
            {
              "value": "default",
              "label": "t:sections.global.settings.button_style.options.default.label"
            }
          ],
          "info": "t:sections.global.settings.button_style.info",
          "default": "button--outlined-inverse"
        },
        {
          "type": "select",
          "id": "first_button_color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            }
          ],
          "default": "background-colors-default"
        },
        {
          "type": "header",
          "content": "t:sections.full-width-banner.blocks.buttons.settings.header_second_button.content"
        },
        {
          "type": "text",
          "id": "second_button_text",
          "label": "t:sections.full-width-banner.blocks.buttons.settings.second_button_text.label"
        },
        {
          "type": "url",
          "id": "second_button_url",
          "label": "t:sections.full-width-banner.blocks.buttons.settings.second_button_url.label"
        },
        {
          "type": "select",
          "id": "second_button_style",
          "label": "t:sections.global.settings.button_style.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.settings.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.settings.button_style.options.outlined.label"
            },
            {
              "value": "button--outlined-inverse",
              "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
            },
            {
              "value": "default",
              "label": "t:sections.global.settings.button_style.options.default.label"
            }
          ],
          "info": "t:sections.global.settings.button_style.info",
          "default": "button--outlined-inverse"
        },
        {
          "type": "select",
          "id": "second_button_color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            }
          ],
          "default": "background-colors-default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Experience",
      "blocks": [
        {
          "type": "subtitle"
        },
        {
          "type": "title"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
