<div class="gift-card__header center">
  <a
    href="{{- routes.root_url -}}"
    class="gift-card__logo full-unstyled-link"
  >
    {%- if section.settings.logo_svg_code != blank -%}
      {{- section.settings.logo_svg_code -}}
    {%- elsif section.settings.logo_image != blank -%}
      {%- assign logo_image_src = section.settings.logo_image | image_url: width: 346 -%}
      {%- assign logo_image_alt = section.settings.logo_image.alt | escape -%}
      <img width="auto" height="auto" src="{{- logo_image_src -}}" alt="{{ logo_image_alt }}" loading="eager">
    {%- else -%}
      <h2>{{- shop.name -}}</h2>
    {%- endif -%}
  </a>
</div><!-- /.gift-card__header -->

<div class="gift-card__main center">
  <div class="container container--narrow gift-card__inner">
    <header class="gift-card__title">
      <h1 class="gift-card__heading">{{ 'gift_cards.issued.title' | t }}</h1>
    </header>

    <div class="gift-card__image-wrapper relative">
      <p class="gift-card__price text-colors-inverse">
        {%-
          liquid
          if gift_card.enabled == false or gift_card.expired
            echo 'gift_cards.issued.expired' | t
          elsif gift_card.balance != gift_card.initial_value
            assign gift_card_balance = gift_card.balance | money_without_trailing_zeros

            if settings.show_currency_codes
              assign gift_card_balance = gift_card.balance | money_with_currency
            endif

            echo 'gift_cards.issued.remaining' | t: balance: gift_card_balance
          else
            if settings.show_currency_codes
              echo gift_card.initial_value | money_with_currency
            else
              echo gift_card.initial_value | money_without_trailing_zeros
            endif
          endif
        -%}
      </p><!-- /.gift-card__price -->

      {%- if section.settings.logo_card_svg_code != blank -%}
        {{- section.settings.logo_card_svg_code -}}
      {%- else -%}
        {%- liquid
          if section.settings.logo_card_image != blank
            assign image = section.settings.logo_card_image
            assign logo_image_src = image | image_url: width: image.width
          else
            assign logo_image_src = 'gift-card/card.svg' | shopify_asset_url
          endif
          assign logo_image_alt = section.settings.logo_card_image.alt | default: shop.name | escape
        -%}

        <img width="auto" height="auto" src="{{- logo_image_src -}}" alt="{{ logo_image_alt }}" class="gift-card__image" loading="lazy">
      {%- endif -%}
    </div>

    <div class="gift-card__subtext">
      <p>{{- 'gift_cards.issued.subtext' | t -}}</p>
    </div><!-- /.gift-card__subtext -->

    <div class="gift-text-code">
      <div class="field">
        <input
          type="text"
          class="gift-card__number field__input center"
          value="{{ gift_card.code | format_code }}"
          aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
          readonly
        >
      </div>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
          <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
        </a>
      {%- endif -%}
    </div><!-- /.gift-card__code -->

    <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>

    <div class="gift-card__information">
      <div class="gift-card__buttons no-print">
        <div class="form-row">
          {%-
            liquid
            assign value = 'gift_cards.issued.print_gift_card' | t
            capture attr
              echo 'onclick="window.print();"'
            endcapture
            render 'button', value: value, attr: attr, style: 'outlined', class: 'button'
            assign value = nil
            assign attr = nil
          -%}
        </div>

        <div class="form-row">
          {%-
            liquid
            assign value = 'gift_cards.issued.shop_link' | t
            capture attr
              echo 'target="_blank"'
              echo 'rel="noopener"'
              echo 'aria-describedby="a11y-new-window-message"'
            endcapture
            render 'button', type: 'link', style: 'solid', href: request.origin, value: value, attr: attr, class: 'button'
            assign value = nil
            assign attr = nil
          -%}
        </div>
      </div>
    </div>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </div>
</div><!-- /.gift-card__main -->

{% schema %}
{
  "name": "t:sections.gift_card.name",
  "class": "gift-card",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.gift_card.settings.logo_image.label"
    },
    {
      "type": "textarea",
      "id": "logo_svg_code",
      "label": "t:sections.gift_card.settings.logo_svg_code.label",
      "info": "t:sections.gift_card.settings.logo_svg_code.info"
    },
    {
      "type": "image_picker",
      "id": "logo_card_image",
      "label": "t:sections.gift_card.settings.logo_card_image.label",
      "info": "t:sections.gift_card.settings.logo_card_image.info"
    },
    {
      "type": "textarea",
      "id": "logo_card_svg_code",
      "label": "t:sections.gift_card.settings.logo_card_svg_code.label",
      "info": "t:sections.gift_card.settings.logo_card_svg_code.info"
    }
  ]
}
{% endschema %}
