{{- 'section-header.css' | asset_url | stylesheet_tag -}}

{% liquid
  assign header_nav = blank
  assign header_classes = section.settings.layout | prepend: ' '

  if template.name == 'index' and section.settings.transparent_header_homepage
    assign header_classes = header_classes | append: ' is-transparent '
  elsif template.name == 'collection' and section.settings.transparent_header_collection
    assign header_classes = header_classes | append: ' is-transparent '
  endif

  assign header_classes = header_classes | append: ' ' | append: section.settings.color_scheme_background | append: ' ' | append: section.settings.color_scheme_text

  assign transparent_header = false
  if section.settings.transparent_header_homepage and template.name == 'index'
    assign transparent_header = true
  endif
  if section.settings.transparent_header_collection and template.name == 'collection'
    assign transparent_header = true
  endif
%}
{%- if transparent_header -%}

  {% liquid
    if section.settings.transparent_header_bottom_border
      assign header_inner_after_opacity = '0.2'
    else
      assign header_inner_after_opacity = '0'
    endif
  %}

  {% style %}
    .hero-banner .hero__media.media--overlay:before,
    .collection-hero .media--overlay:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 100%);
      pointer-events: none;
      z-index: 2;
    }
    .section-{{ section.id }} {
      --header-inner-after-opacity: {{ header_inner_after_opacity }};
    }
  {% endstyle %}
{%- endif -%}

{%- if section.settings.sticky -%}
  {% assign header_classes = header_classes | append: ' is-sticky' %}

  {% style %}
    :root {
      --collection-sidebar-top: var(--header-height, 5.6rem);
    }
    @media screen and (min-width: 750px) {
      :root {
        --collection-sidebar-top: var(--header-height, 7.4rem);
      }
    }

    html.no-js .collection__sidebar {
      --collection-sidebar-top: 8rem;
    }

    #shopify-section-{{- section.id -}} {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: var(--z-header);
      max-height: var(--header-height, 0);
    }

    {% unless transparent_header %}
      .collection-hero.has-desktop-image.banner--full .collection-hero__breadcrumbs:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
      }
    {% endunless %}
  {% endstyle %}
{%- endif -%}
{%- if section.settings.transparent_header_collection -%}
  {% style %}
    @media screen and (min-width: 750px) {
      .collection-hero.has-desktop-image .collection-hero__breadcrumbs {
        top: var(--header-height, 7.4rem) !important;
      }
    }
  {% endstyle %}
{%- endif -%}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dropdownElement = document.querySelector('.header__nav-dropdown');
    const sublinksElement = document.querySelector('.header__nav-sublinks');
    const navItems = document.querySelectorAll('.header__nav-links-item');

    if (dropdownElement) {
      const dropdownWidth = dropdownElement.offsetWidth;
      document.documentElement.style.setProperty('--dropdown-after-width', `${dropdownWidth}px`);
    }

    if (sublinksElement) {
      const sublinksHeight = dropdownElement.offsetHeight;
      document.documentElement.style.setProperty('--dropdown-after-height', `${sublinksHeight}px`);
    }

    navItems.forEach(function(item) {
      item.addEventListener('mouseover', function() {
        navItems.forEach(function(otherItem) {
          if (otherItem !== item) {
            otherItem.style.pointerEvents = 'none';
          }
        });
      });

      item.addEventListener('mouseout', function() {
        navItems.forEach(function(otherItem) {
          otherItem.style.pointerEvents = '';
        });
      });
    });
  });
</script>

<header id="header" class="header js-header{{ header_classes }} section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth %} container--fullwidth{% endif %}">
    <div class="header__inner">
      {%- if linklists[section.settings.menu].links.size > 0 -%}
        {%- render 'navigation-drawer',
          menu: linklists[section.settings.menu],
          submenu: linklists[section.settings.submenu],
          section: section,
          section: section,
          append_id: 'header'
        -%}

        {%- capture header_nav -%}
          <nav class="header__nav small-hide medium-hide svg-color-inherit js-nav">
            <ul class="header__nav-items list-unstyled">
              {%- for link in linklists[section.settings.menu].links -%}
                {%- assign link_handle = link.title | handleize -%}
                {%- assign menu_dropdown_items_size = 0 -%}

                {% liquid
                  assign count_of_images = 0
                  for block in section.blocks
                    assign block_link_handle = block.settings.menu_link_title | handleize

                    if link_handle != block_link_handle
                      continue
                    endif

                    if block.settings.image != blank or block.settings.card_title != blank
                      assign count_of_images = count_of_images | plus: 1
                    endif
                  endfor
                %}

                {%- capture menu_dropdown_items -%}
                 {% comment %} {%- assign menu_remained_size = section.settings.menu_column_count | minus: link.links.size -%}{% endcomment %}
                  {%- assign menu_remained_size = section.settings.menu_column_count  -%}

                  {%- for block in section.blocks -%}

                    {%- assign block_link_handle = block.settings.menu_link_title | handleize -%}
                    
  
                    {%- if link_handle != block_link_handle -%}
                      {%- continue -%}
                    {%- endif -%}

                    {%- assign menu_dropdown_items_size = menu_dropdown_items_size | plus: 1 -%}

                    {%- if menu_remained_size == 0 -%}
                      {%- break -%}
                    {%- endif -%}
                    
                    {%- assign menu_remained_size = menu_remained_size | minus: 1 -%}

                    {%- case block.type -%}
                      {%- when 'image-link-text' -%}

                        {%- if block.settings.image != blank -%}
                          <div class="card header__card">
                            <a href="{{- block.settings.url -}}">
                              <div class="media media--overlay media--portrait card__media">
                                {%- render 'image', image: block.settings.image, image_per_view: section.settings.menu_column_count, alt: block.settings.image.alt | escape -%}
                              </div>

                              {%- if block.settings.title != blank -%}
                                <div class="card__content">
                                  <h6 class="card__title h4">
                                    {{- block.settings.title -}}
                                  </h6>
                                </div>
                              {%- endif -%}
                            </a>
                          </div>
                        {%- endif -%}

                      {%- when 'menu-promo-card' -%}

                        {%- if block.settings.card_title != blank -%}
                          {%- assign card_text_classes = block.settings.color_scheme_text | append: ' ' | append: block.settings.color_scheme_background | append: ' collection__card-text js-card-text' -%}

                          <div class="card header__card">
                            {% render 'card-text', class: card_text_classes, title: block.settings.card_title, button_text: block.settings.card_button_text, button_url: block.settings.card_button_url, button_style: block.settings.card_button_style %}
                          </div>
                        {%- endif -%}

                    {%- endcase -%}

                  {%- endfor -%}
                {%- endcapture -%}

                {%- liquid
                  assign link_item_additional_classes = blank
                  assign has_dropdown = false
                  assign default_dropdown = false

                  if link.links.size > 0 or menu_dropdown_items_size > 0
                  assign link_item_additional_classes = ' has-dropdown'
                  assign has_dropdown = true

                    if link.links.size > 0 and menu_dropdown_items_size == 0
                      assign default_dropdown = true
                      assign link_item_additional_classes = link_item_additional_classes | append: ' default-dropdown'
                    endif
                  endif
                -%}

                <li class="header__nav-item js-nav-item{{ link_item_additional_classes }} base-{{ link_handle }}">
                  <a
                    href="{{- link.url -}}"
                    class="header__nav-link nav-text-link js-nav-link{% if link.child_active %} is-current{% endif %}"
                    title="{{- link.title | escape -}}"
                    {% if link.current %}aria-current="page"{% endif %}
                  >
                    
                    {{- link.title | escape -}}
                  </a>

                  {%- if has_dropdown -%}

                    {% liquid
                      assign size_of_columns = section.settings.menu_column_count
                      assign size_of_links = link.links.size
                      assign size_of_images = count_of_images
                      assign size_of_grid = size_of_links | plus: size_of_images

                      assign filler_lower_limit = 1
                      assign filler_upper_limit = size_of_columns | minus: size_of_grid
                      if filler_upper_limit < 0
                        assign filler_upper_limit = 0
                      endif
                    %}

                    <div class="header__nav-dropdown js-dropdown">
                      <ul class="header__nav-links list-unstyled header__nav-grid--{{- size_of_columns -}}">
                        {%- for child_link in link.links -%}
                          <li class="header__nav-links-item{% if default_dropdown %} js-nav-item{% endif %}{% if child_link.links.size > 0 %} has-dropdown{% endif %} child-link child-link-{{- child_link.title | handle -}}">
                            <a
                              href="{{- child_link.url -}}"
                              class="header__nav-dropdown-link{% if default_dropdown %} js-nav-link{% endif %}{% if child_link.current %} is-current{% endif %}"
                              aria-label="{{- child_link.title | escape -}}"
                              {% if child_link.current %}aria-current="page"{% endif %}
                            >
                                {%- for block in section.blocks -%}

                                  {%- assign block_link_handle = block.settings.menu_icon_title | handleize -%}
                                  {%- assign link_handle = child_link.title | handleize -%}
                                  
                
                                  {%- if link_handle != block_link_handle -%}
                                    {%- continue -%}
                                  {%- endif -%}
          
                                  {%- comment -%}{%- render 'image', image: block.settings.menu_icon_image, class:"menu_icon_image", alt: block.settings.menu_icon_image.alt | escape -%}
                                  {%- endcomment -%}
                                  
                                     {% if block.type=='menu_icon' %}
                                        <img class="menu_icon_image" src="{{  block.settings.menu_icon_image | image_url }}">
                                      {% endif %}
                                  
                                  {%- if linklists[block.settings.menu_icon_menu].links.size > 0 -%}
                                    
                                    {%- capture menu_icon_items -%}
                                      <div class="header__menu__sublinks_content">
                                      {%- if link_handle == block_link_handle -%}
                                      <h2>{{ block.settings.menu_icon_sub_title }}</h2>
                                        {%- endif -%}
                                       <ul class="header__menu_icon-sublinks menu_icon_items list-unstyled">
                                          {%- for icon_child_link in linklists[block.settings.menu_icon_menu].links -%}
                                            
                                            {%- assign link_handle = icon_child_link.title | handleize -%}
                                            {%- assign menu_dropdown_items_size = 0 -%}
                                            <li class="header__menu_icon-sublinks-title {{ icon_child_link.title | handle }}">
                                              {%- for block in section.blocks -%}
                                                {%- case block.type -%}
                                                  {%- when 'sub_menu_icon' -%}
                                                      {%- assign menu_icon_title = block.settings.menu_icon_title | handle  -%}
                                                      {%- assign icon_child_link_title = icon_child_link.title | handle -%}
                                                     
                                                    {%- if menu_icon_title == icon_child_link_title -%}
                                                      
                                                       <img class="sub_menu_icon" src="{{  block.settings.menu_icon_image | image_url }}">                                                      
                                                    {%- endif -%}
                                                 {%- endcase -%} 
                                               {%- endfor -%}  
                                            <div class="header__menu_icon-sublinks-group">
                                              <a  href="{{- icon_child_link.url -}}">{{- icon_child_link.title | escape -}} </a>
                                                {%- if icon_child_link.links.size > 0 -%}
                                                  <ul class="header__menu_icon-sublinks-clild list-unstyled">
                                                    {%- for grand_child_link in icon_child_link.links -%}
                                                      <li class="header__nav-sublinks-item grand-child-link grand-child-link-{{- grand_child_link.title | handle -}}">
                                                        <a
                                                          href="{{- grand_child_link.url -}}"
                                                          class="header__nav-dropdown-link{% if grand_child_link.current %} is-current{% endif %}"
                                                          {% if grand_child_link.current %} aria-current="page"{% endif %}
                                                        >
                                                          {{- grand_child_link.title | escape -}}
                                                        </a>
                                                      </li>
                                                    {%- endfor -%}
                                                  </ul>
                                                {%- endif -%}
                                            </div>
                                            </li>
                                            
                                          {%- endfor -%}  
                                       </ul>  
                                      </div>
                                    {%- endcapture -%}
                                  {%- endif -%}
                                {%- endfor -%}
                              {{- child_link.title | escape -}}
                              
                            <img class="arrow-icon" src="https://cdn.shopify.com/s/files/1/0888/6393/2702/files/mynaui_chevron-up.png?v=1747174476">
                            </a>

                            {{ menu_icon_items }}
                            {%- capture menu_icon_items -%}{%- endcapture -%}
                            {%- if child_link.links.size > 0 -%}
                              <ul class="header__nav-sublinks list-unstyled">
                                {%- for grand_child_link in child_link.links -%}
                                  <li class="header__nav-sublinks-item grand-child-link-{{- grand_child_link.title | handle -}}">
                                    <a
                                      href="{{- grand_child_link.url -}}"
                                      class="header__nav-dropdown-link{% if grand_child_link.current %} is-current{% endif %}"
                                      {% if grand_child_link.current %} aria-current="page"{% endif %}
                                    >
                                      {{- grand_child_link.title | escape -}}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}

                        {%- if filler_upper_limit > 0 -%}
                          {% for i in (filler_lower_limit..filler_upper_limit) -%}
                            <div class="card header__card">&nbsp;</div>
                          {%- endfor -%}
                        {%- endif -%}

                        {%- if menu_dropdown_items_size > 0 -%}
                            {{ menu_dropdown_items }}
                        {%- endif -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}

              @@additional_links_placeholder@@
            </ul>
          </nav>
        {%- endcapture -%}
      {%- endif -%}

    {%- capture header_logo -%}

      {%- liquid
        assign header_logo_text_class = ''
        if section.settings.logo_svg_code == blank and section.settings.logo == blank
          assign header_logo_text_class = 'header__logo-text'
        endif
      -%}

      <div class="header__logo svg-color-inherit {{ header_logo_text_class }}">
        <a href="{{- routes.root_url -}}" class="full-unstyled-link">
          {%- if section.settings.logo_svg_code != blank -%}
            {{- section.settings.logo_svg_code -}}
          {%- elsif section.settings.logo != blank -%}
            {% liquid
              assign logo_image_size_double = section.settings.logo_width | times: 2 | at_most: 5760
              capture logo_srcset
                assign logo_srcset = section.settings.logo | image_url: width: section.settings.logo_width
                assign logo_srcset_double = section.settings.logo | image_url: width: logo_image_size_double
                echo logo_srcset | append: ' 1x' | append: ', ' | append: logo_srcset_double | append: ' 2x'
              endcapture
              assign logo_alt = section.settings.logo.alt | default: shop.name | escape
            %}

            {{ section.settings.logo
              | image_url: width: section.settings.logo_width
              | image_tag:
                class: 'header__logo-image new',
                width: section.settings.logo.width,
                height: section.settings.logo.height,
                srcset: logo_srcset,
                alt: logo_alt,
                preload: true
            }}

            {% liquid
              assign logo_transparent_image_size_double = section.settings.logo_width | times: 2 | at_most: 5760

              if section.settings.logo_transparent
                assign logo_transparent_image = section.settings.logo_transparent
              else
                assign logo_transparent_image = section.settings.logo
              endif

              capture logo_transparent_srcset
                assign logo_srcset = logo_transparent_image | image_url: width: section.settings.logo_width
                assign logo_srcset_double = logo_transparent_image | image_url: width: logo_transparent_image_size_double
                echo logo_srcset | append: ' 1x' | append: ', ' | append: logo_srcset_double | append: ' 2x'
              endcapture
              assign logo_transparent_alt = logo_transparent_image.alt | default: shop.name | escape
            %}

            {{ logo_transparent_image
              | image_url: width: section.settings.logo_width
              | image_tag:
                class: 'header__logo-image-transparent new',
                width: section.settings.logo.width,
                height: section.settings.logo.height,
                srcset: logo_transparent_srcset,
                alt: logo_transparent_alt,
                preload: true
            }}

          {%- else -%}
            <span class="h4">{{- shop.name | escape -}}</span>
          {%- endif -%}
        </a>
      </div>
    {%- endcapture -%}

      {%- capture header_utils -%}
        <nav class="header__utils">
          <ul class="header__utils-items list-unstyled">
            @@additional_links_placeholder@@

            <li class="header__utils-item small-hide medium-hide">
            <a>Z Blog</a>
            </li>

            {%- if shop.customer_accounts_enabled -%}
              <li class="header__utils-item">
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="header__utils-link svg-color-inherit"
                  title="{%- if customer -%}{{ 'accessibility.account' | t }}{%- else -%}{{ 'accessibility.sign_in' | t }}{%- endif -%}"
                >
                Gallery
                </a>
              </li>
            {%- endif -%}

            <li class="header__utils-item header__utils-item--cart">
              <a
                href="/pages/contact"
                class="header__utils-link svg-color-inherit"
                title="make an appointment"
               
              >
             <button class="header-button">make an appointment</button>
              </a>
            </li>
{% comment %}}
            <li class="header__utils-item header__utils-item--cart">
              <a
                href="{{- routes.cart_url -}}"
                class="header__utils-link svg-color-inherit"
                title="{{- 'accessibility.cart' | t -}}"
                id="cart-counter"
                data-cart-link
              >
             <button class="header-button">cart</button>
              </a>
            </li>
{% endcomment %}        
          </ul>
        </nav>
      {%- endcapture -%}

      {%- capture header_additional_links -%}
        {%- if section.settings.country_drawer_header -%}
          <li class="header__@@type@@-item">
            <desktop-drawer class="drawer">
              {%- render 'country-drawer',
                button_class: ' header__@@type@@-link nav-text-link',
                section: section,
                append_id: 'header'
              -%}
            </desktop-drawer>
          </li>
        {%- endif -%}

        {%- if section.settings.first_additional_link_title != blank and section.settings.first_additional_link_url != blank -%}
          <li class="header__@@type@@-item">
            <a href="{{- section.settings.first_additional_link_url -}}" class="header__@@type@@-link nav-text-link">
              {{- section.settings.first_additional_link_title -}}
            </a>
          </li>
        {%- endif -%}

        {%- if section.settings.second_additional_link_title != blank and section.settings.second_additional_link_url != blank -%}
          <li class="header__@@type@@-item">
            <a href="{{- section.settings.second_additional_link_url -}}" class="header__@@type@@-link nav-text-link">
              {{- section.settings.second_additional_link_title -}}
            </a>
          </li>
        {%- endif -%}
      {%- endcapture -%}

      {%- liquid
        assign header_additional_links_nav = header_additional_links | replace: '@@type@@', 'nav'
        assign header_additional_links_utils = header_additional_links | replace: '@@type@@', 'utils'

        assign header_nav_additional_links = header_nav | replace_first: '@@additional_links_placeholder@@', header_additional_links_nav
        assign header_utils_additional_links = header_utils | replace_first: '@@additional_links_placeholder@@', header_additional_links_utils

        assign header_nav = header_nav | remove_first: '@@additional_links_placeholder@@'
        assign header_utils = header_utils | remove_first: '@@additional_links_placeholder@@'
      -%}

      {%- case section.settings.layout -%}
        {%- when 'header--nav-centered' -%}
          {{ header_logo }}

          {{ header_nav_additional_links }}

          {{ header_utils }}
          {%- when 'header--logo-centered-nav-centered-below' -%}
            {{ header_utils }}

            {{ header_logo }}

            {{ header_nav_additional_links }}
          {%- when 'header--nav-centered-below' -%}
          {{ header_logo }}

          {{ header_utils }}

          {{ header_nav_additional_links }}
        {%- when 'header--nav-logo-left' -%}
          {{ header_logo }}

          {{ header_nav }}

          {{ header_utils_additional_links }}
        {%- when 'header--nav-drawer' -%}
          {{ header_nav }}

          {{ header_logo }}

          {{ header_utils }}
        {%- else -%}
          {{ header_nav }}

          {{ header_logo }}

          {{ header_utils_additional_links }}
      {%- endcase -%}
    </div>
  </div>
</header>

{% style %}
  .header__logo {
    width: {{ section.settings.logo_width_mobile | divided_by: 10.0 }}rem;
  }
  .header__logo.header__logo-text .h4 {
    font-size: calc(var(--font-heading-scale) * 1.6rem * {{ section.settings.logo_font_size }});
  }
  @media screen and (min-width: 750px) {
    .header__logo {
      width: {{ section.settings.logo_width | divided_by: 10.0 }}rem;
    }
    .header__logo.header__logo-text .h4 {
      font-size: calc(var(--font-heading-scale) * 1.8rem * {{ section.settings.logo_font_size }});
    }
  }
{% endstyle %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo != blank %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
<script>
   $('.header__nav-dropdown .child-link').first().addClass('active');
$('.header__nav-dropdown .child-link').on('mouseover', function() {
  $('.header__nav-dropdown .child-link').first().removeClass('active');
  $(this).addClass('active');
});

$('.header__nav-dropdown .child-link').on('mouseout', function() {
  $(this).removeClass('active');
   $('.child-link').first().addClass('active');
});

</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section--header",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.header_general.content"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "t:sections.header.settings.fullwidth.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "t:sections.header.settings.sticky.label",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-default"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.header.settings.layout.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.header.settings.layout.options.default.label"
        },
        {
          "value": "header--nav-centered",
          "label": "t:sections.header.settings.layout.options.nav_centered.label"
        },
        {
          "value": "header--logo-centered-nav-centered-below",
          "label": "t:sections.header.settings.layout.options.logo_centered_nav_centered_below.label"
        },
        {
          "value": "header--nav-centered-below",
          "label": "t:sections.header.settings.layout.options.nav_centered_below.label"
        },
        {
          "value": "header--nav-logo-left",
          "label": "t:sections.header.settings.layout.options.nav_logo_left.label"
        },
        {
          "value": "header--nav-drawer",
          "label": "t:sections.header.settings.layout.options.nav_drawer.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "transparent_header_homepage",
      "label": "t:sections.header.settings.transparent_header_homepage.label",
      "info": "t:sections.header.settings.transparent_header_homepage.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "transparent_header_collection",
      "label": "t:sections.header.settings.transparent_header_collection.label",
      "info": "t:sections.header.settings.transparent_header_collection.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "transparent_header_bottom_border",
      "label": "t:sections.header.settings.transparent_header_bottom_border.label",
      "info": "t:sections.header.settings.transparent_header_bottom_border.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "drawer_layer",
      "label": "t:sections.header.settings.drawer_layer.label",
      "info": "t:sections.header.settings.drawer_layer.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "image_picker",
      "id": "logo_transparent",
      "label": "t:sections.header.settings.transparent_logo.label",
      "info": "t:sections.header.settings.transparent_logo.info"
    },
    {
      "type": "html",
      "id": "logo_svg_code",
      "label": "t:sections.header.settings.logo_svg_code.label",
      "info": "t:sections.header.settings.logo_svg_code.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width.label",
      "info": "t:sections.header.settings.logo_width.info",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 40,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width_mobile.label",
      "info": "t:sections.header.settings.logo_width_mobile.info",
      "default": 80
    },
    {
      "type": "range",
      "id": "logo_font_size",
      "min": 0.5,
      "max": 4.0,
      "step": 0.5,
      "label": "t:sections.header.settings.logo_font_size.label",
      "info": "t:sections.header.settings.logo_font_size.info",
      "unit": "x",
      "default": 1.0
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_navigation.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "submenu",
      "label": "t:sections.header.settings.submenu.label",
      "info": "t:sections.header.settings.submenu.info",
      "default": "main-menu"
    },
    {
      "type": "range",
      "id": "menu_column_count",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:sections.header.settings.menu_column_count.label",
      "info": "t:sections.header.settings.menu_column_count.info",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_country_drawer.content"
    },
    {
      "type": "checkbox",
      "id": "country_drawer_header",
      "label": "t:sections.header.settings.country_drawer_header.label",
      "info": "t:sections.header.settings.country_drawer_header.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "country_drawer_navigation_menu",
      "label": "t:sections.header.settings.country_drawer_navigation_menu.label",
      "info": "t:sections.header.settings.country_drawer_navigation_menu.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_first_additional_link.content",
      "info": "t:sections.header.settings.header_first_additional_link.info"
    },
    {
      "type": "text",
      "id": "first_additional_link_title",
      "label": "t:sections.header.settings.first_additional_link_title.label",
      "default": "Collections"
    },
    {
      "type": "url",
      "id": "first_additional_link_url",
      "label": "t:sections.header.settings.first_additional_link_url.label",
      "default": "/collections"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header_second_additional_link.content",
      "info": "t:sections.header.settings.header_second_additional_link.info"
    },
    {
      "type": "text",
      "id": "second_additional_link_title",
      "label": "t:sections.header.settings.second_additional_link_title.label",
      "default": "Products"
    },
    {
      "type": "url",
      "id": "second_additional_link_url",
      "label": "t:sections.header.settings.second_additional_link_url.label",
      "default": "/collections/all"
    }
  ],
  "blocks": [
    {
      "type": "sub_menu_icon",
      "name": "Sub Menu icon",
      "settings": [
        {
          "type": "text",
          "id": "menu_icon_title",
          "label": "t:sections.header.blocks.image-link-text.settings.menu_link_title.label",
          "info": "t:sections.header.blocks.image-link-text.settings.menu_link_title.info"
        },
        {
          "type": "image_picker",
          "id": "menu_icon_image",
          "label": "t:sections.header.blocks.image-link-text.settings.image.label"
        }
      ]
    },
    {
      "type": "menu_icon",
      "name": "Menu icon",
      "settings": [
        {
          "type": "text",
          "id": "menu_icon_title",
          "label": "t:sections.header.blocks.image-link-text.settings.menu_link_title.label",
          "info": "t:sections.header.blocks.image-link-text.settings.menu_link_title.info"
        },
        {
          "type": "text",
          "id": "menu_icon_sub_title",
          "label": "Sub Title",
          "info": "t:sections.header.blocks.image-link-text.settings.menu_link_title.info"
        },
        {
          "type": "image_picker",
          "id": "menu_icon_image",
          "label": "t:sections.header.blocks.image-link-text.settings.image.label"
        },
        {
          "type": "link_list",
          "id": "menu_icon_menu",
          "label": "t:sections.header.settings.menu.label"
         
        }
      ]
    },
    {
      "type": "image-link-text",
      "name": "t:sections.header.blocks.image-link-text.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_link_title",
          "label": "t:sections.header.blocks.image-link-text.settings.menu_link_title.label",
          "info": "t:sections.header.blocks.image-link-text.settings.menu_link_title.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.header.blocks.image-link-text.settings.image.label"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:sections.header.blocks.image-link-text.settings.url.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.header.blocks.image-link-text.settings.title.label"
        }
      ]
    },
    {
      "type": "menu-promo-card",
      "name": "t:sections.header.blocks.menu-promo-card.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_link_title",
          "label": "t:sections.header.blocks.image-link-text.settings.menu_link_title.label",
          "info": "t:sections.header.blocks.image-link-text.settings.menu_link_title.info"
        },
        {
          "type": "select",
          "id": "color_scheme_text",
          "label": "t:sections.global.settings.color_scheme_text.label",
          "options": [
            {
              "value": "color-text-primary",
              "label": "t:sections.global.settings.color_scheme_text.options.primary.label"
            },
            {
              "value": "color-text-secondary",
              "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
            },
            {
              "value": "color-text-inverse",
              "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
            }
          ],
          "default": "color-text-secondary"
        },
        {
          "type": "select",
          "id": "color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            },
            {
              "value": "background-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
            }
          ],
          "default": "background-colors-default"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.menu-promo-card.settings.header.label"
        },
        {
          "type": "textarea",
          "id": "card_title",
          "label": "t:sections.header.blocks.menu-promo-card.settings.title.label",
          "default": "Heading goes here"
        },
        {
          "type": "select",
          "id": "card_button_style",
          "label": "t:sections.global.settings.button_style.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.settings.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.settings.button_style.options.outlined.label"
            },
            {
              "value": "button--outlined-inverse",
              "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
            },
            {
              "value": "button--text",
              "label": "t:sections.global.settings.button_style.options.text.label"
            }
          ],
          "info": "t:sections.global.settings.button_style.info",
          "default": "button--text"
        },
        {
          "type": "text",
          "id": "card_button_text",
          "label": "t:sections.header.blocks.menu-promo-card.settings.button_text.label"
        },
        {
          "type": "url",
          "id": "card_button_url",
          "label": "t:sections.header.blocks.menu-promo-card.settings.button_url.label"
        }
      ]
    }
  ]
}
{% endschema %}
