{{- 'section-collection.css' | asset_url | stylesheet_tag -}}
{{- 'component-card-product.css' | asset_url | stylesheet_tag -}}
{{- 'component-card-text.css' | asset_url | stylesheet_tag -}}

{% style %}
  .collection__grid {
    column-gap: {{ section.settings.column_gap_mobile }}rem;
  }
  @media screen and (min-width: 990px) {
    .collection__grid {
      column-gap: {{ section.settings.column_gap_desktop }}rem;
    }
  }
{% endstyle %}

<script src="{{- 'card-product.js' | asset_url -}}" defer="defer"></script>
<script src="{{- 'collection-load-more.js' | asset_url -}}" defer="defer"></script>
<script src="{{- 'collection-load-previous.js' | asset_url -}}" defer="defer"></script>

{%- if section.settings.enable_filters or section.settings.enable_sorting -%}
  <script src="{{- 'facets.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.enable_infinity_scroll -%}
  <script src="{{- 'collection-infinity-scroll.js' | asset_url -}}" defer="defer"></script>
{%- endif -%}

{%- capture collection_additional_classes -%}
  {{ section.settings.color_scheme_text }} {{ section.settings.color_scheme_background }} {{ settings.card_product_layout }}
{%- endcapture -%}

{%- liquid
  if section.settings.enable_filters or section.settings.enable_sorting or section.settings.enable_products_count or section.settings.products_per_row_ui
    echo 'component-facets.css' | asset_url | stylesheet_tag

    capture facets_html
      render 'facets', results: collection, enable_filtering: section.settings.enable_filters, enable_sorting: section.settings.enable_sorting, section_id: section.id, filters_style: section.settings.filters_style
    endcapture
  elsif section.settings.sidebar_navigation != blank
    assign collection_additional_classes = collection_additional_classes | append: ' collection--no-utils'
  endif

  if section.settings.sidebar_navigation != blank
    assign collection_additional_classes = collection_additional_classes | append: ' collection--has-sidebar'
  endif

  if section.blocks.size > 0
    capture card_text_html
      for block in section.blocks
        assign card_text_position = block.settings.position
        assign card_text_classes = block.settings.color_scheme_text | append: ' ' | append: block.settings.color_scheme_background | append: ' collection__card-text js-card-text'

        if settings.card_product_image_ratio == '0'
          assign card_text_classes = card_text_classes | append: ' card-text--static'
        endif

        render 'card-text', class: card_text_classes, title: block.settings.title, button_text: block.settings.button_text, button_url: block.settings.button_url
      endfor
    endcapture
  endif

  assign card_text_html = card_text_html | strip

  if card_text_html != ''
    assign collection_additional_classes = collection_additional_classes | append: ' collection--has-card-text'
  endif
-%}

<div class="collection js-animation-fade-in {{ collection_additional_classes | strip }}">

  {{ facets_html }}

  <div class="container">
    <div class="collection__inner">

{% if section.settings.filters_style == 'sidebar' or section.settings.sidebar_navigation != blank and section.settings.sidebar_navigation.links.size > 0 %}
        <aside class="collection__sidebar {% if section.settings.filters_style == 'sidebar' %}collection__aside-filters-sidebar{% endif %} text-navigation-button">
          {% if section.settings.filters_style == 'sidebar' %}
            {%- if section.settings.enable_sorting -%}
              {{- 'component-custom-select.css' | asset_url | stylesheet_tag -}}
              <script src="{{- 'custom-select.js' | asset_url -}}" defer="defer"></script>
            {%- endif -%}
            <facet-filters-form class="collection__aside-filters" data-section-id="{{- section.id -}}">
              {%- if section.settings.enable_filters or section.settings.enable_sorting -%}
                <form id="FacetFiltersFormAside" class="facets__form">
                  {%- if collection.terms -%}
                    <input
                      type="hidden"
                      name="q"
                      value="{{- collection.terms | escape -}}">
                    <input
                      name="options[prefix]"
                      type="hidden"
                      value="last">
                  {%- endif -%}
                  {%- if collection.current_vendor or collection.current_type -%}
                    <input
                      type="hidden"
                      name="q"
                      value="{{- collection.current_vendor -}}{{- collection.current_type -}}">
                  {%- endif -%}
                  {%- if section.settings.enable_filters and collection.filters != empty -%}
                    <h2 class="drawer__title drawer__title--mb-lg heading-static">
                      {{- 'collection.facets.filters_title' | t -}}
                    </h2>
                    <div class="drawer__row drawer__row--mb-lg">
                      <accordion-default class="accordion facets__accordion">
                        {%- for filter in collection.filters -%}
                          {%- render 'facet', index: forloop.index, section_id: section.id, filter: filter, postfix: '-aside' -%}
                        {%- endfor -%}
                      </accordion-default>
                    </div>
                  {%- endif -%}
                </form>
              {% endif %}
            </facet-filters-form>
          {% endif %}
      {%- if section.settings.sidebar_navigation != blank and section.settings.sidebar_navigation.links.size > 0 -%}
          <nav class="collection__nav">
            <ul class="collection__nav-links list-unstyled no-scrollbar">
              {%- for link in section.settings.sidebar_navigation.links -%}
                <li class="collection__nav-links-item">
                  <a
                    href="{{- link.url -}}"
                    class="collection__nav-links-link{% if link.current %} is-current{% endif %}"
                    {% if link.current %}aria-current="page"{% endif %}
                  >
                    {{- link.title | escape -}}
                  </a>

                  {%- assign link_or_child_current = false -%}

                  {%- if link.current or link.child_current -%}
                    {%- assign link_or_child_current = true -%}
                  {%- endif -%}

                  {%- if link.links.size > 0 and link_or_child_current -%}
                    <ul class="collection__nav-sublinks list-unstyled">
                      {%- for link in link.links -%}
                        <li class="collection__nav-sublinks-item">
                          <a
                            href="{{- link.url -}}"
                            class="collection__nav-sublinks-link{% if link.current %} is-current{% endif %}"
                            {% if link.current %}aria-current="page"{% endif %}
                          >
                            {{- link.title | escape -}}
                          </a>
                        </li><!-- /.collection__nav-sublink -->

                        {%- for link in link.links -%}
                          <li
                            class="collection__nav-sublink"
                            class="collection__nav-sublinks-link{% if link.current %} is-current{% endif %}"
                            {% if link.current %}aria-current="page"{% endif %}
                          >
                            <a href="{{- link.url -}}">
                              {{- link.title | escape -}}
                            </a>
                          </li><!-- /.collection__nav-sublink -->
                        {%- endfor -%}
                      {%- endfor -%}
                    </ul><!-- /.collection__nav-sublinks -->
                  {%- endif -%}
                </li><!-- /.collection__nav-links -->
              {%- endfor -%}
            </ul><!-- /.list-unstyled -->
          </nav><!-- /.collection__nav -->
      {%- endif -%}
              </aside>
      {%- endif -%}

      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- if collection.products_count == 0 -%}
          <div class="collection-grid-container" id="ProductGridContainer">
            <h3 class="collection__title text-center">
              {{- 'collection.empty' | t -}}
            </h3><!-- /.collection__title -->
          </div><!-- /.collection-grid-container -->
        {%- else -%}
          <div class="collection-grid-container{% if section.settings.enable_infinity_scroll %} infinity-scroll-active{% endif %}" id="ProductGridContainer">
            {%- if paginate.pages > 1 and paginate.current_page <= paginate.pages -%}
              {% if section.settings.pagination_style == 'load_more' %}
                {%- if paginate.previous -%}
                  <collection-load-previous class="collection__actions text-center no-js-hidden{% unless paginate.previous %} hidden{% endunless %}" data-current-page="{{- paginate.current_page -}}">
                    {%- liquid
                      assign load_previous_button_data_href = 'data-href="' | append: paginate.previous.url | append: '"'
                      assign load_previous_value = 'collection.load_previous' | t

                      render 'button', class: 'button js-btn-load-previous', button_style: 'button--outlined', attr: load_previous_button_data_href, value: load_previous_value, loading_spinner: true
                    -%}
                  </collection-load-previous>
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
            <div
              class="collection__grid"
              id="product-grid"
              data-id="{{- section.id -}}"
              data-cols="{{- section.settings.products_per_row_default -}}"
            >

              {%- liquid
                if section.blocks.size > 0
                  capture card_text_html
                    for block in section.blocks
                      assign card_text_position = block.settings.position
                      assign card_text_classes = block.settings.color_scheme_text | append: ' ' | append: block.settings.color_scheme_background | append: ' collection__card-text'

                      render 'card-text', class: card_text_classes, title: block.settings.title, button_text: block.settings.button_text, button_url: block.settings.button_url
                    endfor
                  endcapture
                endif

                for product_ref in collection.products
                  if forloop.index == card_text_position
                    echo card_text_html
                  endif

                  render 'card-product', product_ref: product_ref, collection_ref: collection, section_id: section.id, card_index: forloop.index, card_product_layout: settings.card_product_layout, image_per_view: section.settings.products_per_row_default
                endfor

                if card_text_position > section.settings.products_per_page
                  echo card_text_html
                endif
              -%}
            </div><!-- /.collection__grid -->

            {%- if paginate.pages > 1 -%}
              {% if section.settings.pagination_style == 'load_more' %}
                <collection-load-more class="collection__actions text-center no-js-hidden{% unless paginate.next %} hidden{% endunless %}" data-current-page="{{- paginate.current_page -}}">
                  {%- liquid
                    assign load_more_button_data_href = 'data-href="' | append: paginate.next.url | append: '"'
                    assign load_more_value = 'collection.ajax_button' | t

                    render 'button', class: 'button js-btn-load-more', button_style: 'button--outlined', attr: load_more_button_data_href, value: load_more_value, loading_spinner: true
                  -%}
                </collection-load-more>
                <div class="collection__actions no-js">
                  {%- render 'pagination', paginate: paginate, anchor: '' -%}
                </div>
              {% else %}
                <div class="collection__actions">
                  {%- render 'pagination', paginate: paginate, anchor: '' -%}
                </div>
              {% endif %}
            {%- endif -%}
          </div><!-- /.collection-grid-container -->
        {%- endif -%}
      {%- endpaginate -%}
    </div><!-- /.collection__inner -->
  </div><!-- /.container -->
</div><!-- /.collection -->

{% schema %}
{
  "name": "t:sections.main-collection.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "color-text-primary",
          "label": "t:sections.global.settings.color_scheme_text.options.primary.label"
        },
        {
          "value": "color-text-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "color-text-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "color-text-secondary"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-default"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header_general.content"
    },
    {
      "type": "checkbox",
      "id": "enable_products_count",
      "label": "t:sections.main-collection.settings.enable_products_count.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "label": "t:sections.main-collection.settings.enable_sorting.label",
      "info": "t:sections.main-collection.settings.enable_sorting.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_filters",
      "label": "t:sections.main-collection.settings.enable_filters.label",
      "info": "t:sections.main-collection.settings.enable_filters.info",
      "default": true
    },
    {
      "type": "select",
      "id": "filters_style",
      "label": "t:sections.main-collection.settings.filters_style.label",
      "options": [
        {
          "value": "drawer",
          "label": "t:sections.main-collection.settings.filters_style.options.drawer.label"
        },
        {
          "value": "sidebar",
          "label": "t:sections.main-collection.settings.filters_style.options.sidebar.label"
        }
      ],
      "default": "drawer"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.global.settings.button_style.label",
      "options": [
        {
          "value": "button--filled",
          "label": "t:sections.global.settings.button_style.options.filled.label"
        },
        {
          "value": "button--outlined",
          "label": "t:sections.global.settings.button_style.options.outlined.label"
        },
        {
          "value": "button--outlined-inverse",
          "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
        },
        {
          "value": "default",
          "label": "t:sections.global.settings.button_style.options.default.label"
        },
        {
          "value": "button--filter",
          "label": "t:sections.global.settings.button_style.options.filter.label"
        }
      ],
      "info": "t:sections.global.settings.button_style.info",
      "default": "button--filter"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header_sidebar.content"
    },
    {
      "type": "link_list",
      "id": "sidebar_navigation",
      "label": "t:sections.main-collection.settings.sidebar_navigation.label",
      "info": "t:sections.main-collection.settings.sidebar_navigation.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header_products_grid.content"
    },
    {
      "type": "range",
      "id": "column_gap_desktop",
      "label": "t:sections.global.settings.column_gap_desktop.label",
      "min": 0.2,
      "max": 3.2,
      "step": 0.2,
      "default": 0.2
    },
    {
      "type": "range",
      "id": "column_gap_mobile",
      "label": "t:sections.global.settings.column_gap_mobile.label",
      "min": 0.2,
      "max": 3.2,
      "step": 0.2,
      "default": 0.2
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 12,
      "max": 36,
      "step": 1,
      "label": "t:sections.main-collection.settings.products_per_page.label",
      "default": 16
    },
    {
      "type": "select",
      "id": "products_per_row_default",
      "label": "t:sections.main-collection.settings.products_per_row_default.label",
      "info": "t:sections.main-collection.settings.products_per_row_default.info",
      "options": [
        {
          "value": "3",
          "label": "t:sections.main-collection.settings.products_per_row_default.options.three.label"
        },
        {
          "value": "4",
          "label": "t:sections.main-collection.settings.products_per_row_default.options.four.label"
        }
      ],
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "products_per_row_ui",
      "label": "t:sections.main-collection.settings.products_per_row_ui.label",
      "info": "t:sections.main-collection.settings.products_per_row_ui.info",
      "default": true
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "t:sections.main-collection.settings.pagination_style.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-collection.settings.pagination_style.options.default.label"
        },
        {
          "value": "load_more",
          "label": "t:sections.main-collection.settings.pagination_style.options.load_more.label"
        }
      ],
      "default": "load_more"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "type": "text-card",
      "name": "t:sections.main-collection.blocks.text-card.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.global.settings.header_color_scheme.content"
        },
        {
          "type": "select",
          "id": "color_scheme_text",
          "label": "t:sections.global.settings.color_scheme_text.label",
          "options": [
            {
              "value": "color-text-primary",
              "label": "t:sections.global.settings.color_scheme_text.options.primary.label"
            },
            {
              "value": "color-text-secondary",
              "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
            },
            {
              "value": "color-text-inverse",
              "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
            }
          ],
          "default": "color-text-secondary"
        },
        {
          "type": "select",
          "id": "color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            },
            {
              "value": "background-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
            }
          ],
          "default": "background-colors-accent-1"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection.blocks.text-card.settings.header_general.content"
        },
        {
          "type": "range",
          "id": "position",
          "min": 1,
          "max": 28,
          "step": 1,
          "label": "t:sections.main-collection.blocks.text-card.settings.position.label",
          "info": "t:sections.main-collection.blocks.text-card.settings.position.info",
          "default": 8
        },
        {
          "type": "header",
          "content": "t:sections.main-collection.blocks.text-card.settings.header_text.content"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.main-collection.blocks.text-card.settings.title.label",
          "default": "Heading goes here"
        },
        {
          "type": "header",
          "content": "t:sections.main-collection.blocks.text-card.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.main-collection.blocks.text-card.settings.button_text.label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "t:sections.main-collection.blocks.text-card.settings.button_url.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text-card"
      }
    ]
  }
}
{% endschema %}
