{%- if section.settings.title != blank -%}
  <link
    rel='stylesheet'
    href='{{- 'main-password.css' | asset_url -}}'
    media='print'
    onload="this.media='all'"
  >
  <noscript>
    {{- 'main-password.css' | asset_url | stylesheet_tag -}}
  </noscript>

  {%- style -%}
    .main-password {
      --color-main: {{ section.settings.color_main }};
      --color-body: {{ section.settings.color_body }};
      --color-background: {{ section.settings.color_background }};
      --color-border: {{ section.settings.color_border }};
      --color-logo: {{ section.settings.color_logo }};
    }
  {%- endstyle -%}

  <section class='main-password center'>
    <div class='main-password__wrapper'>
      <div class='container container--small'>
        <header class='main-password__head'>
          <h1 class='main-password__title h1'>
            {{- section.settings.title | escape -}}
          </h1>
          <!-- /.main-password__title h1 -->

          {%- if section.settings.subtext != blank
            or shop.password_message != blank
          -%}
            <div class='main-password__entry font-size-md'>
              {%- if section.settings.subtext != blank -%}
                {{- section.settings.subtext -}}
              {%- endif -%}

              {%- if shop.password_message != blank -%}
                {{- shop.password_message | escape -}}
              {%- endif -%}
            </div>
            <!-- /.main-password__entry -->
          {%- endif -%}
        </header>
        <!-- /.main-password__head -->

        {%- if section.settings.email_signup -%}
          <div class='main-password__email-signup'>
            {%- if section.settings.email_signup_title != blank -%}
              <h2 class='main-password__title h3'>
                {{- section.settings.email_signup_title | escape -}}
              </h2>
            {%- endif -%}
            {%- if section.settings.email_signup_text != blank -%}
              {{- section.settings.email_signup_text -}}
            {%- endif -%}
            {%- render 'newsletter-form', namespace: section.id, js_class: 'js-form' -%}
          </div>
        {%- endif -%}

        {% capture shopify %}
          <a href="//www.shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify">
            {%- render 'logo-shopify' -%}
          </a>
        {% endcapture %}

        <div class='main-password__callout'>
          {{- 'password.admin_link_html' | t -}}
        </div>
        <!-- /.main-password__callout -->

        <div class='main-password__foot font-size-md'>
          {{-
            'password.powered_by_shopify_html'
            | t: shopify: shopify
          -}}
        </div>
        <!-- /.main-password__foot -->
      </div>
      <!-- /.container container--small -->
    </div>
    <!-- /.main-password__wrapper -->
  </section>
  <!-- /.main-password -->
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password.name",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "t:sections.main-password.settings.title.label",
      "default": "Opening soon"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "t:sections.main-password.settings.subtext.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password.settings.header_email_signup.content"
    },
    {
      "type": "checkbox",
      "id": "email_signup",
      "label": "t:sections.main-password.settings.email_signup.label",
      "default": true
    },
    {
      "type": "text",
      "id": "email_signup_title",
      "label": "t:sections.main-password.settings.email_signup_title.label"
    },
    {
      "type": "richtext",
      "id": "email_signup_text",
      "label": "t:sections.main-password.settings.email_signup_text.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-password.settings.header_colors.content"
    },
    {
      "type": "color",
      "id": "color_main",
      "label": "t:sections.main-password.settings.color_main.label",
      "default": "#111"
    },
    {
      "type": "color",
      "id": "color_body",
      "label": "t:sections.main-password.settings.color_body.label",
      "default": "#5E5A59"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.main-password.settings.color_background.label",
      "default": "#E6E2E1"
    },
    {
      "type": "color",
      "id": "color_border",
      "label": "t:sections.main-password.settings.color_border.label",
      "default": "#9E9A99"
    },
    {
      "type": "color",
      "id": "color_logo",
      "label": "t:sections.main-password.settings.color_logo.label",
      "default": "#666"
    }
  ]
}
{% endschema %}
