{{- 'section-header-password.css' | asset_url | stylesheet_tag -}}

<header class="header-password {{ section.settings.color_scheme_text }} {{ section.settings.color_scheme_background }}">
  <div class="container">
    <div class="header-password__logo">
      {%- if section.settings.logo_svg_code != blank -%}
        {{- section.settings.logo_svg_code -}}
      {%- elsif section.settings.logo != blank -%}
        {%- assign logo_image_size_double = section.settings.logo_width | times: 2 | at_most: 2000 -%}

        <img
          srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: logo_image_size_double }} 2x"
          src="{{- section.settings.logo | image_url: width: section.settings.logo_width -}}"
          loading="lazy"
          width="{{- section.settings.logo.width -}}"
          height="{{- section.settings.logo.height -}}"
          alt="{{- section.settings.logo.alt | default: shop.name | escape -}}"
          class="header-password__logo-image"
        >
      {%- endif -%}

      <span
        class="{% if section.settings.logo == blank and section.settings.logo_svg_code == blank %}h4{% else %}visually-hidden{% endif %}"
      >{{- shop.name | escape -}}</span>
    </div><!-- /.header-password__logo -->

    <modal-opener class="header-password__link" data-modal="#PasswordModal">
      <button  type="button" aria-haspopup="dialog">
          {%- render 'icon-padlock' -%}
          <span>{{- 'password.password_link' | t -}}</span>
      </button>
    </modal-opener>
  </div><!-- /.container -->
</header><!-- /.header-password -->

{% schema %}
{
  "name": "t:sections.main-header-password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-header-password.settings.logo.label"
    },
    {
      "type": "html",
      "id": "logo_svg_code",
      "label": "t:sections.main-header-password.settings.logo_svg_code.label",
      "info": "t:sections.main-header-password.settings.logo_svg_code.info"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 100,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.main-header-password.settings.logo_width.label",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 60,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "t:sections.main-header-password.settings.logo_width_mobile.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-accent-2"
    }
  ]
}
{% endschema %}
