{%- if section.blocks.size > 0 -%}
  {{- 'section-trust-indicators.css' | asset_url | stylesheet_tag -}}

  {%- capture section_additional_classes -%}
    {{ section.settings.padding_vertical_desktop }}
    {{ section.settings.padding_vertical_mobile }}
    section-trust-indicators--{{ section.settings.layout }}
    section-trust-indicators--{{ section.blocks.size }}
  {%- endcapture -%}

  {%- assign is_mobile_slider = true -%}

    {%- if section.settings.slider_mobile and section.blocks.size > 1 -%}


    <script src="{{- 'trust-indicators-slider.js' | asset_url -}}" defer="defer"> </script>

    {%- assign is_mobile_slider = true -%}
  {%- endif -%}

  {%- assign tiles_html = '' -%}

  {%- for block in section.blocks -%}
    {%- if block.settings.title == blank and block.seings.link_title == blank or block.settings.link_url == blank -%}
      {%- continue -%}
    {%- endif -%}

    {%- capture tile_html -%}
      <div class="section-trust-indicators__tile  js-animation-fade-in {{ block.settings.color_scheme_text }} {{ block.settings.color_scheme_background }}">
        <div class="section-trust-indicators__content">

          {%- if block.settings.decorator != blank or block.settings.decorator_svg_code != blank -%}

            {%- capture decorator_icon -%}
              {% if block.settings.decorator_svg_code != '' %}
                {{- block.settings.decorator_svg_code -}}
              {% elsif block.settings.decorator %}
                {{ block.settings.decorator | image_url: width: '500' | image_tag: loading: 'lazy', alt: block.settings.title }}
              {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            {%- endcapture -%}

            <span class="section-trust-indicators__decorator {{ block.settings.color_scheme_decorator }} {{ block.settings.color_scheme_background_decorator }}">
              {{- decorator_icon -}}
            </span>
          {%- endif -%}

          {%- if block.settings.title != blank -%}
            <h3 class="section-trust-indicators__title">
              {{- block.settings.title -}}
            </h3>
            <!-- /.section-trust-indicators__title -->
          {%- endif -%}
            {%- if block.settings.maintext != blank -%}
            <p class="section-trust-indicators__tw">
              {{- block.settings.maintext -}}
            </p>
            <!-- /.section-trust-indicators__title -->
          {%- endif -%}

          {%- if block.settings.link_title != blank and block.settings.link_url != blank -%}
            <a href="{{- block.settings.link_url -}}" class="section-trust-indicators__link link">
              {{- block.settings.link_title -}}
            </a>
          {%- endif -%}

        </div>
        <!-- /.section-trust-indicators__content -->
      </div>
      <!-- /.section-trust-indicators__tile -->
    {%- endcapture -%}

    {%- if is_mobile_slider -%}
      {%- capture tile_html -%}
        <div class="swiper-slide section-trust-indicators__swiper-slide">
          {{ tile_html }}
        </div>
        <!-- /.swiper-slide -->
      {%- endcapture -%}
    {%- endif -%}

    {%- assign tiles_html = tiles_html | append: tile_html -%}
  {%- endfor -%}

  {% liquid
    if section.settings.layout == 'layout-2'
      assign data_swiper_options = '{"spaceBetweenDesktop": 32, "spaceBetweenMobile": 12}'
    else
      assign data_swiper_options = '{"spaceBetweenDesktop": 1, "spaceBetweenMobile": 1}'
    endif
  %}

  <section class="section-trust-indicators  {{ section_additional_classes | strip }}">
    <div class="container  our-work">

      {%- if is_mobile_slider -%}
        <trust-indicators-slider
          class="swiper section-trust-indicators__swiper "
          data-swiper-options='{{- data_swiper_options -}}'
        >
          {%- if section.settings.title != blank -%}
            <h3 class="section-title">
              {{- section.settings.title -}}
            </h3>
            <!-- /.section-trust-indicators__title -->
          {%- endif -%}
          <div class="swiper-wrapper section-trust-indicators__swiper-wrapper owl">
            {{ tiles_html }}
          </div><!-- /.swiper-wrapper -->
        </trust-indicators-slider>
      {%- else -%}
        <div class="section-trust-indicators__inner">
          {{ tiles_html }}
        </div><!-- /.section-trust-indicators__inner -->
      {%- endif -%}
      
  </section><!-- /.section-trust-indicators -->
  
{%- endif -%}

<script>
  $('.our-work .owl').owlCarousel({
    loop:true,
    margin:24,
    nav:true,
    responsive:{
        0:{
            items:1.3
        },
        600:{
            items:2.3
        },
        1000:{
            items:3.3
        }
    }
})
</script>
{% schema %}
{
  "name": "Our Work",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "checkbox",
      "id": "slider_mobile",
      "label": "t:sections.trust-indicators.settings.slider_mobile.label",
      "info": "t:sections.trust-indicators.settings.slider_mobile.info",
      "default": true
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.global.settings.layout.label",
      "options": [
        {
          "value": "layout-1",
          "label": "t:sections.global.settings.layout.options.layout_1.label"
        },
        {
          "value": "layout-2",
          "label": "t:sections.global.settings.layout.options.layout_2.label"
        }
      ],
      "default": "layout-1"
    },
    {
      "type": "select",
      "id": "padding_vertical_desktop",
      "label": "t:sections.global.settings.padding_vertical_desktop.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.default.label"
        },
        {
          "value": "pt-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.top_none.label"
        },
        {
          "value": "pb-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.bottom_none.label"
        },
        {
          "value": "pt-0-desktop pb-0-desktop",
          "label": "t:sections.global.settings.padding_vertical_desktop.options.top_bottom_none.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "padding_vertical_mobile",
      "label": "t:sections.global.settings.padding_vertical_mobile.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.default.label"
        },
        {
          "value": "pt-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.top_none.label"
        },
        {
          "value": "pb-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.bottom_none.label"
        },
        {
          "value": "pt-0-mobile pb-0-mobile",
          "label": "t:sections.global.settings.padding_vertical_mobile.options.top_bottom_none.label"
        }
      ]
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "type": "indicator",
      "name": "t:sections.trust-indicators.blocks.indicator.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.global.settings.header_color_scheme.content"
        },
        {
          "type": "select",
          "id": "color_scheme_text",
          "label": "t:sections.global.settings.color_scheme_text.label",
          "options": [
            {
              "value": "text-colors-default",
              "label": "t:sections.global.settings.color_scheme_text.options.default.label"
            },
            {
              "value": "text-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
            },
            {
              "value": "text-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
            }
          ],
          "default": "text-colors-default"
        },
        {
          "type": "select",
          "id": "color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            },
            {
              "value": "background-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
            }
          ],
          "default": "background-colors-default"
        },
        {
          "type": "header",
          "content": "t:sections.trust-indicators.blocks.indicator.settings.decorator.label"
        },
        {
          "type": "image_picker",
          "id": "decorator",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.decorator.label"
        },
        {
          "type": "textarea",
          "id": "decorator_svg_code",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.decorator_svg_code.label",
          "info": "t:sections.trust-indicators.blocks.indicator.settings.decorator_svg_code.info"
        },
        {
          "type": "select",
          "id": "color_scheme_decorator",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.color_scheme_decorator.label",
          "options": [
            {
              "value": "text-colors-default",
              "label": "t:sections.global.settings.color_scheme_text.options.default.label"
            },
            {
              "value": "text-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
            },
            {
              "value": "text-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
            }
          ],
          "default": "text-colors-default"
        },
        {
          "type": "select",
          "id": "color_scheme_background_decorator",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.color_scheme_background_decorator.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            },
            {
              "value": "background-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
            }
          ],
          "default": "background-colors-accent-2"
        },
        {
          "type": "header",
          "content": "t:sections.trust-indicators.blocks.indicator.settings.header_text.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.title.label",
          "default": "Heading goes here"
        },
        {
          "type": "richtext",
          "id": "maintext",
          "label": "main text"
          
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.link_title.label",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "t:sections.trust-indicators.blocks.indicator.settings.link_url.label",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Our Work",
      "blocks": [
        {
          "type": "indicator",
          "settings": {
            "title": "Text-block 1"
          }
        },
        {
          "type": "indicator",
          "settings": {
            "title": "Text-block 2"
          }
        },
        {
          "type": "indicator",
          "settings": {
            "title": "Text-block 3"
          }
        }
      ]
    }
  ]
}
{% endschema %}
