{{- 'form-contact.css' | asset_url | stylesheet_tag -}}
 <h2 class="appointment-headding">Make an Appointment</h2>
<section class="form-contact {{ section.settings.color_scheme_text }} {{ section.settings.color_scheme_background }}">
  <div class="container container--small">
    {%- form 'contact', id: 'ContactForm' -%}
      {%- if form.posted_successfully? -%}
        <h3 class="h4" tabindex="-1" autofocus>{{- 'contact.form.success' | t -}}</h3><!-- /.h4 -->
      {%- elsif form.errors -%}
        <div class="color-red">
          {{- form.errors | default_errors -}}
        </div><!-- /.color-red -->
      {%- endif -%}

      <div class="form-row form-row--double">
        {%-
          liquid
          assign label = 'First Name'
          assign placeholder = 'First Name' 
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-name', label: label, name: 'contact[First Name]', placeholder: placeholder, attr: attr, value: value
        -%}
        {%-
          liquid
          assign label = 'Last Name'
          assign placeholder = 'Last Name'
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-lname', label: label, name: 'contact[Last Name]', placeholder: placeholder, attr: attr, value: value
        -%}
        {%-
          liquid
          assign label = 'Phone'
          assign placeholder = 'Phone'
          capture attr
            echo 'autocomplete="name"'
          endcapture
          if form.name
            assign value = form.name
          elsif customer
            assign value = customer.name
          else
            assign value = ''
          endif
          render 'text-input', id: 'ContactForm-Phone', label: label, name: 'contact[Phone]', placeholder: placeholder, attr: attr, value: value
        -%}
        <div class="field" data-input-wrapper="">
          <label for="ContactForm-Select" class="field__label">*Select Treatment</label>

                <select id="nf-field-236" name="contact[Select Treatment]" aria-invalid="false" aria-describedby="nf-error-236" class="field__input" aria-labelledby="nf-label-field-236" aria-required="true" required="">
                        	
                  	<option value="Select Treatment" selected="selected">*Select Treatment:</option>                 
                  	
                  	<option value="Belotero">Belotero</option>                 
                  	
                  	<option value="Botox">Botox</option>                  
                  	
                  	<option value="Butt Lift without Surgery">Butt Lift without Surgery</option>                  
                  	
                  	<option value="Chemical Peel">Chemical Peel</option>                  
                  	
                  	<option value="Coolsculpting">Coolsculpting</option>                  
                  	
                  	<option value="Dysport">Dysport</option>                  
                  	
                  	<option value="Emsculpt">Emsculpt</option>                  
                  	
                  	<option value="Facials">Facials</option>                  
                  	
                  	<option value="Juvederm">Juvederm</option>                  
                  	
                  	<option value="Kybella">Kybella</option>                  
                  	
                  	<option value="Laser Hair Removal">Laser Hair Removal</option>                  
                  	
                  	<option value="Microneedling">Microneedling</option>                  
                  	
                  	<option value="Mole and Skin Tag Removal">Mole and Skin Tag Removal</option>                  
                  	
                  	<option value="Nano-Ray Laser Skin Resurfacing">Nano-Ray Laser Skin Resurfacing</option>                  
                  	
                  	<option value="Restalyne Lyft">Restalyne Lyft</option>                  
                  	
                  	<option value="Restalyne Silk">Restalyne Silk</option>                  
                  	
                  	<option value="Sculptra">Sculptra</option>                  
                  	
                  	<option value="ThermiSmooth">ThermiSmooth</option>                  
                  	
                  	<option value="ThermiTight">ThermiTight</option>                  
                  	
                  	<option value="ThermiVa">ThermiVa</option>                  
                  	
                  	<option value="Ultherapy">Ultherapy</option>                  
                  	
                  	<option value="Vollure">Vollure</option>                  
                  	
                  	<option value="Volbella">Volbella</option>                  
                  	
                  	<option value="VI Peel">VI Peel</option>        
            </select>
          </div>

        {%-
          liquid
          assign label = 'contact.form.email' | t | append: ' <span class="color-red" aria-hidden="true">*</span>'
          assign placeholder = 'contact.form.email' | t
          capture attr
            echo 'autocomplete="email"'
            echo 'spellcheck="false"'
            echo 'autocapitalize="off"'
            echo 'aria-required="true"'
          endcapture
          if form.email
            assign value = form.email
          elsif customer
            assign value = customer.email
          else
            assign value = ''
          endif
          if form.errors contains 'email'
            assign error = form.errors.translated_fields['email'] | capitalize | append: ' ' | append: form.errors.messages['email']
            assign has_error = true
          endif
          render 'text-input', id: 'ContactForm-email', type: 'email', label: label, name: 'contact[email]', placeholder: placeholder, attr: attr, value: value, has_error: has_error, message: error
        -%}
      </div><!-- /.form-row form-row--double -->

      <div class="form-row">
        {%-
          liquid
          assign label = 'contact.form.message' | t
          assign placeholder = 'contact.form.message' | t
          render 'textarea-input', id: 'ContactForm-body', label: label, name: 'contact[Requested Time / Date]', placeholder: placeholder, body: form.body
        -%}
      </div><!-- /.form-row -->

      <div class="form-row form-row--actions">
        {%- assign value = 'contact.form.submit' | t -%}
        {%- render 'button', type: 'submit', style: 'solid', value: value, class: 'button' -%}
        {%- assign value = nil -%}
      </div><!-- /.form-row -->
    {%- endform -%}
  </div><!-- /.container container--small -->
</section><!-- /.form-contact -->

{% schema %}
{
  "name": "Request an Appointment",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-default"
    }
  ],
  "presets": [
    {
      "name":"Request an Appointment"
    }
  ]
}
{% endschema %}
