{{ 'section-store-locator.css' | asset_url | stylesheet_tag }}
{% if section.blocks.size > 1 %}
<script src="{{ 'store-locator-filter.js' | asset_url }}" defer="defer"></script>
{% endif %}
<script src="{{- 'store-locator-slider.js' | asset_url -}}" defer="defer"></script>

{% style %}
  .section-{{ section.id }} {
    --section-height: {{ section.settings.section_height | default: '40' | append: 'vw' }};
    --section-gap-between-tiles: {{ section.settings.gap_between_tiles | default: '0.2' | append: 'rem' }};
    padding-top: calc(var(--section-spacing-unit-mobile) * {{ section.settings.spacing_top_mobile }});
    padding-bottom: calc(var(--section-spacing-unit-mobile) * {{ section.settings.spacing_bottom_mobile }});
  }
  @media screen and (min-width: 990px) {
    .section-{{ section.id }} {
      padding-top: calc(var(--section-spacing-unit-desktop) * {{ section.settings.spacing_top_desktop }});
      padding-bottom: calc(var(--section-spacing-unit-desktop) * {{ section.settings.spacing_bottom_desktop }});
    }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }} .store-locator__container {
        {% if section.settings.section_height != blank and section.settings.section_height != 0 %}
          max-height: {{ section.settings.section_height }}vh;
        {% else %}
          max-height: auto;
        {% endif %}
      }
    }
  }
{% endstyle %}

{%- capture section_additional_classes -%}
  {{ section.settings.color_scheme_text }}
{%- endcapture -%}

{%- if section.settings.layout == 'full' -%}
  {%- assign section_map_additional_classes = 'store-locator__container__full-map' -%}
{%- endif -%}

<section class="section section-{{ section.id }} section-store-locator overflow-hidden js-animation-fade-in {{ section_additional_classes }} {% if section.settings.layout == 'image_and_sidebar' %} store-locator__image_sidebar{% endif %} {{ section.settings.color_scheme_background }}">
  <div class="{{- section.settings.section_width -}}">
    <div class="store-locator__container {{ section.settings.color_scheme_background_card_content }} {% if section.settings.layout == 'map' %} store-locator__container__map{% endif %}">

      <aside class="store-locator__aside{% if section.settings.layout == 'map' %} store-locator__sidebar-hidden{% endif %}{% if section.blocks.size <= 1 %} store-locator__aside__single-tile{% endif %}">

      {% if section.blocks.size > 1 %}
        <div class="store-locator__card-header {{ section.settings.color_scheme_background_search_area }}">
          <h3 class="store-locator__card-header__title">
            {{ 'store_locator.search_bar.title' | t }}
          </h3>
          <div class="store-locator__form-container">
            <div class="form-row">
              {%- liquid
                assign placeholder = 'store_locator.search_bar.search_by_location' | t
                render 'text-input', id: 'search-store-locator', type: 'search', name: 'search-store-locator', placeholder: placeholder, class: 'store-locator__card-header__input', attr: 'autocomplete="off"'
              assign placeholder = nil
              -%}
            </div>
          </div>
        </div>
      {% endif %}

      {%- if section.blocks.size > 0 -%}

      <div class="store-locator__card-content store-locator__card-content-aside scrollbar {% if section.blocks.size <= 1 %} store-locator__card-content__single-tile{% endif %}">
        {% for block in section.blocks %}
          {% liquid
            assign store_latitude_string = block.settings.store_latitude | times: 1
            assign store_longitude_string =  block.settings.store_longitude | times: 1
            assign store_direction = ''
            assign store_direction = store_direction | append: 'https://www.google.com/maps/dir/?api=1&destination=latitude,longitude'
            assign store_direction = store_direction | replace: 'latitude', store_latitude_string
            assign store_direction = store_direction | replace: 'longitude', store_longitude_string
          %}

          <div class="store-locator-cards__tile  store-locator-cards__aside-filtered {{ block.settings.color_scheme_text }} {{ block.settings.color_scheme_background }} {% if section.blocks.size <= 1 %}store-locator-cards__single-tile{% endif %}" data-image-number={{ forloop.index }}>
            {% render 'store-locator-pin', storeName: block.settings.title, storeAddress: block.settings.store_address | newline_to_br, storeOpeningHours: block.settings.store_opening_hours, storePin: block.settings.store_pin, storeLink: directions_link, storeTel: block.settings.store_tel, buttonStyle: block.settings.button_style, coordinateTitle: block.settings.coordinate_title,
            storeLongitude: block.settings.store_longitude, storeLatitude: block.settings.store_latitude %}
          </div>
        {% endfor %}
      </div>

      {%- endif -%}

      <!-- SLIDER -->

      {% liquid
        assign data_swiper_options = '{"spaceBetweenDesktop": 16, "spaceBetweenMobile": 16}'
      %}

      {% if section.blocks.size > 0 %}
        <div class="store-locator__slider-container">
          <div class="store-locator-cards">
            <div class="store-locator__cards-container">
                <store-locator-slider id="store-locator-slider" class="swiper store-locator-cards__swiper" data-swiper-options='{{- data_swiper_options -}}'>
                  <div class="swiper-wrapper store-locator-cards__swiper-wrapper">
                    {% for block in section.blocks %}
                      <div class="swiper-slide store-locator-cards__swiper-slide store-locator-cards__filtered {{ block.settings.color_scheme_text }} {{ block.settings.color_scheme_background }}" data-image-number={{ forloop.index }}>
                        <div class="store-locator-cards__tile js-animation-fade-in {{ block.settings.color_scheme_text }} {{ block.settings.color_scheme_background }}">
                          {% render 'store-locator-pin', storeName: block.settings.title, storeAddress: block.settings.store_address | newline_to_br, storeOpeningHours: block.settings.store_opening_hours, storePin: block.settings.store_pin, storeLink: directions_link, storeTel: block.settings.store_tel, buttonStyle: block.settings.button_style %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </store-locator-slider>
            </div>
          </div>
      </div>
      {% endif %}

      </aside>

      <!-- MAP -->

      {%- if section.settings.layout != 'image_and_sidebar' -%}

        <div class="store-locator__map-container {{ section_map_additional_classes }}">
          <div id="google_map"
            class="store-locator-google-map"
            data-map-pin-icon="{{ 'icon-map-pin.svg' | asset_url }}"
          ></div>
          <div id="map-zoom-level">{{ section.settings.zoom_level }}</div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key={{ section.settings.api_key | default: '' }}&callback=initiateGoogleMap" async="" defer="defer"></script>

      {%- endif -%}

      <!-- IMAGE -->

      {%- if section.settings.layout == 'image_and_sidebar' -%}
        <div class="store-locator__image-container">
        {% for block in section.blocks %}

          <span data-image-number={{ forloop.index }} class="store-locator__image-selector">
            {%- liquid
              if block.settings.store_image != blank
                render 'image', image: block.settings.store_image, alt: block.settings.store_image.alt | escape, class: 'store-locator__image-container__image'
              else
                echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg store-locator__image-container__image'
              endif
            -%}
          </span>

          {% endfor %}
        </div>
      {%- endif -%}

    </div>
  </div>
</section>

<script src="{{ 'google-map.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.store-locator.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.store-locator.settings.header_map.content"
    },
    {
      "type": "textarea",
      "id": "api_key",
      "label": "t:sections.store-locator.settings.api_key.label",
      "info": "t:sections.store-locator.settings.api_key.info"
    },
    {
      "type": "range",
      "id": "zoom_level",
      "min": 0,
      "max": 21,
      "step": 1,
      "label": "t:sections.map.settings.zoom_level.label",
      "default": 4
    },
    {
      "type": "header",
      "content": "t:sections.store-locator.settings.section_layout.caption"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:sections.global.settings.section_width.label",
      "options": [
        {
          "value": "container-fluid container--no-padding",
          "label": "t:sections.global.settings.section_width.options.full-width.label"
        },
        {
          "value": "container",
          "label": "t:sections.global.settings.section_width.options.page-width.label"
        }
      ],
      "default": "container"
    },
    {
      "type": "range",
      "id": "section_height",
      "label": "t:sections.store-locator.settings.section_height.label",
      "info": "t:sections.store-locator.settings.section_height.info",
      "min": 25,
      "max": 100,
      "step": 5,
      "unit": "vh",
      "default": 60
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.store-locator.settings.map_layout.label",
      "options": [
        {
          "value": "map_and_sidebar",
          "label": "t:sections.store-locator.settings.map_layout.options.layout_map_sidebar.label"
        },
        {
          "value": "image_and_sidebar",
          "label": "t:sections.store-locator.settings.map_layout.options.layout_image_sidebar.label"
        },
        {
          "value": "map",
          "label": "t:sections.store-locator.settings.map_layout.options.layout_map.label"
        }
      ],
      "default": "image_and_sidebar"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_color_scheme.content"
    },
    {
      "type": "select",
      "id": "color_scheme_text",
      "label": "t:sections.global.settings.color_scheme_text.label",
      "options": [
        {
          "value": "text-colors-default",
          "label": "t:sections.global.settings.color_scheme_text.options.default.label"
        },
        {
          "value": "text-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
        },
        {
          "value": "text-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
        }
      ],
      "default": "text-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_background",
      "label": "t:sections.global.settings.color_scheme_background.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-default"
    },
    {
      "type": "select",
      "id": "color_scheme_background_card_content",
      "label": "t:sections.store-locator.settings.color_scheme_background_card_content.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-accent-1"
    },
    {
      "type": "select",
      "id": "color_scheme_background_search_area",
      "label": "t:sections.store-locator.settings.color_scheme_background_search_area.label",
      "options": [
        {
          "value": "background-colors-default",
          "label": "t:sections.global.settings.color_scheme_background.options.default.label"
        },
        {
          "value": "background-colors-secondary",
          "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
        },
        {
          "value": "background-colors-accent-1",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
        },
        {
          "value": "background-colors-accent-2",
          "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
        },
        {
          "value": "background-colors-inverse",
          "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
        }
      ],
      "default": "background-colors-accent-2"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header_padding_vertical.content"
    },
    {
      "type": "range",
      "id": "spacing_top_desktop",
      "label": "t:sections.global.settings.spacing_top_desktop.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_bottom_desktop",
      "label": "t:sections.global.settings.spacing_bottom_desktop.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_top_mobile",
      "label": "t:sections.global.settings.spacing_top_mobile.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    },
    {
      "type": "range",
      "id": "spacing_bottom_mobile",
      "label": "t:sections.global.settings.spacing_bottom_mobile.label",
      "min": 0,
      "max": 6,
      "step": 1,
      "default": 6,
      "unit": "x"
    }
  ],
  "limit": 1,
  "blocks": [
    {
      "type": "pin",
      "name": "t:sections.store-locator.blocks.pin.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.store-locator.blocks.pin.settings.header_store_info.content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.store-locator.blocks.pin.settings.title.label"
        },
        {
          "type": "textarea",
          "id": "store_address",
          "label": "t:sections.store-locator.blocks.pin.settings.store_address.label"
        },
        {
          "type": "text",
          "id": "store_tel",
          "label": "t:sections.store-locator.blocks.pin.settings.store_tel.label"
        },
        {
          "type": "richtext",
          "id": "store_opening_hours",
          "label": "t:sections.store-locator.blocks.pin.settings.store_opening_hours.label"
        },
        {
          "type": "image_picker",
          "id": "store_image",
          "label": "t:sections.store-locator.blocks.pin.settings.store_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.store-locator.blocks.pin.settings.header_long_lat.content"
        },
        {
          "type": "text",
          "id": "store_latitude",
          "label": "t:sections.store-locator.blocks.pin.settings.store_latitude.label",
          "info": "t:sections.store-locator.blocks.pin.settings.store_latitude.info"
        },
        {
          "type": "text",
          "id": "store_longitude",
          "label": "t:sections.store-locator.blocks.pin.settings.store_longitude.label",
          "info": "t:sections.store-locator.blocks.pin.settings.store_longitude.info"
        },
        {
          "type": "textarea",
          "id": "coordinate_title",
          "label": "t:sections.store-locator.blocks.pin.settings.coordinate_title.label",
          "info": "t:sections.store-locator.blocks.pin.settings.coordinate_title.info"
        },
        {
          "type": "header",
          "content": "t:sections.store-locator.blocks.pin.settings.header_actions.content"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.global.settings.button_style.label",
          "options": [
            {
              "value": "button--filled",
              "label": "t:sections.global.settings.button_style.options.filled.label"
            },
            {
              "value": "button--outlined",
              "label": "t:sections.global.settings.button_style.options.outlined.label"
            },
            {
              "value": "button--outlined-inverse",
              "label": "t:sections.global.settings.button_style.options.outlined_inverse.label"
            },
            {
              "value": "default",
              "label": "t:sections.global.settings.button_style.options.default.label"
            }
          ],
          "default": "button--outlined"
        },
        {
          "type": "text",
          "id": "store_pin",
          "label": "t:sections.store-locator.blocks.pin.settings.store_pin.label"
        },
        {
          "type": "url",
          "id": "store_pin_link",
          "label": "t:sections.store-locator.blocks.pin.settings.store_pin_link.label",
          "info": "t:sections.store-locator.blocks.pin.settings.store_pin_link.info"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header_color_scheme.content"
        },
        {
          "type": "select",
          "id": "color_scheme_text",
          "label": "t:sections.global.settings.color_scheme_text.label",
          "options": [
            {
              "value": "text-colors-default",
              "label": "t:sections.global.settings.color_scheme_text.options.default.label"
            },
            {
              "value": "text-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_text.options.secondary.label"
            },
            {
              "value": "text-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_text.options.inverse.label"
            }
          ],
          "default": "text-colors-default"
        },
        {
          "type": "select",
          "id": "color_scheme_background",
          "label": "t:sections.global.settings.color_scheme_background.label",
          "options": [
            {
              "value": "background-colors-default",
              "label": "t:sections.global.settings.color_scheme_background.options.default.label"
            },
            {
              "value": "background-colors-secondary",
              "label": "t:sections.global.settings.color_scheme_background.options.secondary.label"
            },
            {
              "value": "background-colors-accent-1",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_one.label"
            },
            {
              "value": "background-colors-accent-2",
              "label": "t:sections.global.settings.color_scheme_background.options.accent_two.label"
            },
            {
              "value": "background-colors-inverse",
              "label": "t:sections.global.settings.color_scheme_background.options.inverse.label"
            }
          ],
          "default": "background-colors-default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.store-locator.name",
      "blocks": [
        {
          "type": "pin",
          "settings": {
            "title": "Your store name",
            "store_address": "Your store address",
            "store_opening_hours": "<p>Mon-Sat: 10am-8pm<br/>Sunday</p>",
            "store_pin": "Directions",
            "store_pin_link": "",
            "store_tel": "+01 234 567 8900",
            "store_latitude": "48.85850418716008",
            "store_longitude": "2.294803163425021",
            "coordinate_title": ""
          }
        },
        {
          "type": "pin",
          "settings": {
            "title": "Your store name",
            "store_address": "Your store address",
            "store_opening_hours": "<p>Mon-Sat: 10am-8pm<br/>Sunday</p>",
            "store_pin": "Directions",
            "store_pin_link": "",
            "store_tel": "+01 234 567 8900",
            "store_latitude": "41.902331905731444",
            "store_longitude": "12.45445667605574",
            "coordinate_title": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
